.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"],
.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"].goog-button-hover {
    color: var(--accent-color-4);
}

.docs-material-button-hairline-primary.docs-material-button {
    color: var(--accent-color-4);
}
