.docs-material-button-hairline-default.docs-material-button-hover.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-hover.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-primary.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover,
.docs-gm .modal-dialog button:hover,
.docs-gm
    .docs-material-bubble
    .jfk-button-action.jfk-button-hover.jfk-button-focused,
.docs-gm .modal-dialog .goog-buttonset-action:hover:focus,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-hover.jfk-button-focused {
    background: var(--accent-color-9);
}