.docs-grille-gm3.docos.docs-gm .jfk-button.jfk-button-action.jfk-button-hover,
.docs-grille-gm3.docos
    .jfk-button.jfk-button-action.jfk-button-focused.jfk-button-active,
.docs-grille-gm3.docos.docs-gm .jfk-button.jfk-button-action.jfk-button-focused,
.docs-grille-gm3.docos.docs-gm
    .jfk-button.jfk-button-action.jfk-button-focused.jfk-button-hover {
    background: var(--accent-color-1);
}
