.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"],
.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"].goog-button-hover,
.docs-material-button-hairline-primary.docs-material-button,
.docs-gm3-text-button {
    color: var(--accent-color-4);
}
