.docs-material-button-hairline-default.docs-material-button-hover.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-hover.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-primary.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover,
.docs-gm .modal-dialog button:hover {
    color: var(--accent-color-0);
}

.docs-action-updated-dot,
.docs-new-badge,
.docs-premium-badge,
div.docs-material-gm-checkbox-checked,
div.docs-material-gm-checkbox-undetermined,
span.docs-material-gm-checkbox-checked,
span.docs-material-gm-checkbox-undetermined,
div.docs-material-gm-checkbox-checked.docs-material-gm-checkbox-focused,
span.docs-material-gm-checkbox-checked.docs-material-gm-checkbox-focused,
.docs-proofread-settings-menu-checkboxes-container
    .docs-material-gm-labeled-checkbox
    .docs-material-gm-labeled-checkbox-checked,
.javascriptMaterialdesignGm3WizButtonFilled-button {
    background-color: var(--accent-color-0);
}

.outlines-widget-chaptered
    .location-indicator-highlight
    .navigation-item-vertical-line-middle,
.docs-material-button-fill-primary.docs-material-button,
.docs-gm .docs-material-bubble .jfk-button-action,
.docs-gm .modal-dialog .goog-buttonset-action,
.docs-gm .modal-dialog .jfk-button-action,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-hover,
.docs-gm .modal-dialog .goog-buttonset-action:hover,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-hover,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-focused,
.docs-gm .modal-dialog .goog-buttonset-action:focus,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-focused,
.docs-grille-gm3.docos.docs-gm .jfk-button.jfk-button-action,
.docs-gm3-filled-button,
.docs-gm3-filled-button.docs-gm3-button-focused,
.docos-streampane-tabbar
    .docs-tabbar-tab.docs-tabbar-tab-selected
    .docs-tabbar-tablabel:after,
.docsAiTextGeneratorBubbleContainer-button,
.docs-gm3-tonal-button {
    background: var(--accent-color-0);
}

.docs-gm .docs-findinput-container-focus,
.docs-gm .docs-gotoinput-container:focus,
div.docs-material-gm-checkbox-checked,
div.docs-material-gm-checkbox-undetermined,
span.docs-material-gm-checkbox-checked,
span.docs-material-gm-checkbox-undetermined,
div.docs-material-gm-checkbox-focused,
span.docs-material-gm-checkbox-focused,
div.docs-material-gm-checkbox-checked.docs-material-gm-checkbox-focused,
span.docs-material-gm-checkbox-checked.docs-material-gm-checkbox-focused,
.docs-proofread-settings-menu-checkboxes-container
    .docs-material-gm-labeled-checkbox
    .docs-material-gm-labeled-checkbox-checked,
.docsAiTextGeneratorBubbleContainer.docsAiTextGeneratorBubbleContainer-refine-ux-v2-enabled.docsAiTextGeneratorBubbleContainer-show-preview {
    border-color: var(--accent-color-0);
}

.docs-material-button-hairline-default.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-primary.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-gm .docos-input-textarea:focus,
.docs-gm .docos-streamdocoview-input-pane .docos-input-textarea:focus,
.docs-title-input:focus {
    border-color: var(--accent-color-0) !important;
}
