// for transparent buttons, text

.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"],
.outlines-widget
    .outlines-widget-chaptered
    .location-indicator-highlight.navigation-item
    [class*="navigation-item-level-"].goog-button-hover,
.outline-refresh.navigation-widget-unified-styling
    .location-indicator-highlight.navigation-item.goog-button-hover,
.outline-refresh.navigation-widget-unified-styling
    .location-indicator-highlight.navigation-item.goog-button-hover
    .navigation-item-level-0,
a:link,
.modal-dialog a,
.docs-gm .modal-dialog .jfk-button-standard,
.docs-gm .modal-dialog button,
.docs-grille-gm3.docos.docs-gm.docos-comments-pe
    .docos-input-cancel.jfk-button-standard.jfk-button {
    color: var(--accent-color-5);
}
