.docos-comments-pe
    .docos-streamdocoview:focus
    .docos-showrepliesbutton-collapsed-internal-container,
.docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview:focus,
.docos-comments-pe
    .docs-gm.docos-xeditor
    .docos-streamdocoview:focus
    .docos-show-more,
.docs-grille-gm3
    .docs-main-toolbars
    .goog-toolbar-button.goog-toolbar-button-checked,
.docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-checked,
.docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-selected,
.docs-grille-gm3.docs-gm .trix-palette .goog-palette-cell-selected {
    background-color: var(--background-color-5);
}
