.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.suggest-mode,
.nextChapterBottomFabView.docs-gm3-filled-button,
.docs-grille-version-history .docs-revisions-tile-selected,
.chapter-item-label-and-buttons-container-selected,
.chapter-item-label-and-buttons-container-selected:focus-within,
.docs-grille-gm3
    .docos-anchoreddocoview.docos-docoview-tesla-conflict:hover
    .docos-show-more,
.docs-grille-gm3
    .docos-anchoreddocoview:hover
    .docos-replyview-first
    .docos-show-more,
.docs-grille-gm3 .docos-anchoreddocoview:hover .docos-show-less,
.docs-grille-gm3 .docos-anchoreddocoview:hover .docos-show-more,
.docos-comments-pe
    .docos-anchoreddocoview:hover
    .docos-anchoreddocoview-internal,
.docos-comments-pe .docos-anchoreddocoview:hover .docos-replyview-reply-count,
.docs-gm.docos.docos-comments-pe .docos-assigneeview.docos-assignee-other,
.docs-grille-gm3 .docos-anchoreddocoview:hover,
.docs-grille-gm3
    .docos-anchoreddocoview:hover
    .docos-anchoreddocoview-input-pane,
.docs-grille-gm3 .docos-anchoreddocoview:hover .docos-anchoredreplyview,
.docs-sidebar-toggle-tabs .jfk-button.docs-sidebar-toggle-tab-inactive:active,
.docs-sidebar-toggle-tabs
    .jfk-button.docs-sidebar-toggle-tab-inactive:focus-visible,
.docos-streampane-tabbar
    .docs-tabbar-tab.docs-tabbar-tab-selected.docs-tabbar-tab-hover,
.docs-image-synthesis-sidebar
    .image-synthesis-creation-button.goog-button-disabled,
.docos-comments-pe
    .docos-streamdocoview
    .docos-showrepliesbutton-collapsed-internal-container,
.docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview,
.docos-comments-pe
    .docs-gm.docos-xeditor
    .docos-streamdocoview
    .docos-show-more,
.miniChapterSwitcherCore
    .docs-material-gm-select-hover
    .docs-material-gm-select-outer-box,
.miniChapterSwitcherCore
    .docs-material-gm-select-hover
    .miniChapterSwitcherChapterIcon,
.miniChapterSwitcherCore
    .docs-material-gm-select-hover
    .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-hover
    .miniChapterSwitcherNavigationEntryPointMask,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select.miniChapterSwitcherMultipleChapters
    .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant
    .miniChapterSwitcherMultipleChapters
    .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-hover
    .docs-material-gm-select-outer-box,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-hover
    .miniChapterSwitcherChapterIcon,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-hover
    .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless.breadcrumbSwitcherUiVariant
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-hover
    .miniChapterSwitcherNavigationEntryPointMask,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless.breadcrumbSwitcherUiVariant
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-active.miniChapterSwitcherMultipleChapters
    .miniChapterSwitcherNavigationEntryPointIcon {
    background: var(--background-color-3);
}

.docs-grille-gm3
    .docs-main-toolbars
    .goog-toolbar-button.goog-toolbar-button-checked,
.docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-checked,
.docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-selected,
.docs-grille-gm3.docs-gm .trix-palette .goog-palette-cell-selected,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant
    .miniChapterSwitcherCore
    .miniChapterSwitcherView.docs-material-gm-select-active.miniChapterSwitcherMultipleChapters
    .miniChapterSwitcherNavigationEntryPointIcon,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-open,
.docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-active,
.docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button:focus,
.docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-active,
.docs-grille-gm3.docs-gm
    .docs-main-toolbars
    .goog-toolbar-menu-button.goog-toolbar-menu-button-open,
.docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button:focus,
.docs-grille-gm3.docs-gm
    #docs-toolbar-mode-switcher.goog-toolbar-menu-button-active,
.docs-grille-gm3.docs-gm
    #docs-toolbar-mode-switcher.goog-toolbar-menu-button-focused,
.docs-grille-gm3.docs-gm
    #docs-toolbar-mode-switcher.goog-toolbar-menu-button-open,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker
    .docs-thumbnailcontrol-checked
    .docs-thumbnailcontrol-thumbnailcontainer,
.docos-comments-pe
    .docs-gm
    .docos-streamdocoview-input-pane
    .docos-input-textarea,
.docos-replyview-emoji-controls .docs-material-button-raised-default,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button,
.docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button,
.docs-bubble .docs-bubble-button.jfk-button.goog-toolbar-button-checked,
.docs-bubble .docs-bubble-button.jfk-button:hover:active,
.docs-gm
    .docs-material
    .docs-toolbar-split-create-button.goog-toolbar-button-active,
.docs-gm
    .docs-material
    .docs-toolbar-split-create-button.goog-toolbar-menu-button-active,
.docs-gm
    .docs-material
    .docs-toolbar-split-create-button.goog-toolbar-menu-button-open,
.docs-gm .docs-material .goog-toolbar-button-active,
.docs-gm .docs-material .goog-toolbar-button-checked,
.docs-gm .docs-material .goog-toolbar-button-selected,
.docs-gm .docs-material .goog-toolbar-combo-button-open,
.docs-gm .docs-material .goog-toolbar-menu-button-open,
.docs-gm .docs-material.trix-palette .goog-palette-cell-selected,
.docs-gm ::-webkit-scrollbar-thumb,
.docs-body-pageless .docos .docos-comments-pe .docos-assigneeview,
.docs-body-pageless
    .docos-comments-pe
    .docos-anchoreddocoview:hover
    .docos-anchoreddocoview-internal,
.docs-body-pageless
    .docos-comments-pe
    .docos-anchoreddocoview:hover
    .docos-replyview-reply-count,
.docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover,
.docs-grille-gm3.docs-body-pageless
    .docos-anchoreddocoview:hover
    .docos-anchoreddocoview-input-pane,
.docs-grille-gm3.docs-body-pageless
    .docos-anchoreddocoview:hover
    .docos-anchoredreplyview,
.kix-citations-create-view-bottom,
.kix-citations-insert-bibliography-container,
.kix-citations-search-result-view-attributes-bottom,
.docs-material #docs-script-button-bar .jfk-button.jfk-button-active,
.docs-material #docs-script-button-bar .jfk-button.jfk-button-checked {
    background-color: var(--background-color-3);
}

//////////
// FILL //
//////////

.chapterDocoIndicatorViewIcon,
.chapter-item-label-and-buttons-container:not(
        .chapter-item-label-and-buttons-container-selected
    ):hover
    .chapterDocoIndicatorViewIcon {
    fill: var(--background-color-3);
}
