.docos-comments-pe
    .docos-streamdocoview:focus
    .docos-showrepliesbutton-collapsed-internal-container,
.docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview:focus,
.docos-comments-pe
    .docs-gm.docos-xeditor
    .docos-streamdocoview:focus
    .docos-show-more {
    background-color: var(--background-color-5);
}
