.docs-grille-gm3.docs-gm.docs-body-pageless #docs-toolbar-mode-switcher,
.docs-gm .docs-grille-version-history.docs-revisions-filter-selector.goog-menu .goog-menuitem.goog-menuitem-highlight.goog-menuitem-active, .docs-gm .docs-grille-version-history.docs-revisions-filter-selector.goog-menu .goog-menuitem.goog-option-selected,
.docs-explore-searchbar-labelinput,
.docs-image-generation-example-gallery,
.docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active .docos-show-less, .docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active .docos-show-more, .docs-grille-gm3.docs-gm .docos-docoview-active.docos-docoview-tesla-conflict:hover .docos-show-more,
.docs-indeterminate-loading-bar,
.smart-canvas-time-selection-combo-box-container .goog-combo-button-input,
.smart-canvas-date-details-bubble-edit-field.smart-canvas-date-details-bubble-edit-field-gm3, .smart-canvas-date-details-bubble-time-zone-edit-field,
.docs-generative-ai-menu-item .docs-inline-insert-menu-item-icon-container,
.docos-comments-pe .docos-calltoactionview:active .docos-calltoactionview-container, .docos-comments-pe .docos-calltoactionview:hover .docos-calltoactionview-container, .docos-comments-pe .docos-docoview-active .docos-calltoactionview-container,
.docs-material-button-hairline-default.docs-material-button-hover.docs-material-button-focused, .docs-material-button-hairline-primary.docs-material-button-hover.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused, .docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border, .docs-material-button-hairline-primary.docs-material-button-focused, .docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-sidebar-toggle-tabs .jfk-button.docs-sidebar-toggle-tab-active:active, .docs-sidebar-toggle-tabs .jfk-button.docs-sidebar-toggle-tab-active:focus-visible,
.goog-palette-cell .docs-preview-palette-item,
.docs-grille-gm3 .docos-emoji-reaction-doco-view-emojis .docs-material-button-flat-primary,
.docos-comments-pe .docos-streamdocoview.docos-docoview-resolved .docos-showrepliesbutton-collapsed-internal-container, .docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-resolved, .docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-resolved .docos-show-more, .docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-resolved.docos-docoview-active,
.javascriptMaterialdesignGm3WizTabsPrimary-tab,
.aiBlockMenuBarBubblePrimaryButtonContainer,
.docs-hover-embed-dark-perview-item-body,
.aiBlockMenuBarBubbleSecondaryButtonContainer,
.docs-grille-gm3 #docs-instant-bubble, // NOT EXACTLY WHITE, MIDWAY
.docs-material-gm-dialog,
.smart-canvas-time-zone-selection-dialog-edit-field,
.docs-bubble-material,
.docs-grille-gm3 .docos-calltoactionview-container,
.docs-palette-title-bar,
.docs-material #docs-equationtoolbar, .docs-material .docs-printpreview-toolbar,
.docs-findinput-container,
.docs-gm .docs-offline-optinpromo.jfk-bubble, .docs-gm .docs-sync-indicator-popup.jfk-bubble, .docs-gm .modal-dialog, .docs-gm .modal-dialog.google-url-picker,
.docs-gm .modal-dialog .jfk-button-standard, .docs-gm .modal-dialog button,
.docs-checkupdialog-content-container,
.docs-material-button-disabled.docs-material-button-flat-default, .docs-material-button-disabled.docs-material-button-flat-primary, .docs-material-button-disabled.docs-material-button-raised-default,
.kix-documentmetrics-widget,
.document-margin-floating-control-bubble.docs-bubble.document-margin-floating-control-grouped.ac-active,
.docsEmojisWizEmojiPickerTab,
.docs-embedded-content-popup,
.docs-embedded-content-button, .docs-embedded-content-button.jfk-button-clear-outline, .docs-embedded-content-button:hover,
.goog-palette-cell-selected .docs-preview-palette-item,
.docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active, .docs-grille-gm3.docs-gm .docos-anchoreddocoview.docos-docoview-active:hover, .docs-grille-gm3.docs-gm .docos-comments-pe .docos-docoview-active .docos-anchoreddocoview-internal, .docs-grille-gm3.docs-gm .docos-comments-pe .docos-docoview-active.docos-anchoreddocoview:hover .docos-anchoreddocoview-internal, .docs-grille-gm3.docs-gm .docos-docoview-active .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-gm .docos-docoview-active .docos-anchoredreplyview, .docs-grille-gm3.docs-gm .docos-docoview-active:hover .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-gm .docos-docoview-active:hover .docos-anchoredreplyview,
.docos-comments-pe .docos.docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-active, .docos-comments-pe .docos.docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-active .docos-show-more,
.docos-comments-pe .docos-streampane-searchbar .docos-streampane-search-input,
.kix-citations-accessed-by-select, .kix-citations-format-select, .kix-citations-select, .kix-citations-source-type-select,
.docs-grille-gm3 .docos-calltoactionview,
.docs-ml-header,
.kix-citations-search-input,
.kix-citations-create-view-input,
.docs-chat-title-bar,
.docs-grille-gm3 .docs-chat-message-tooltip-container,
.kix-header-footer-bubble.docs-bubble,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-disabled, .docs-gm .modal-dialog button[disabled],
.docsAiTextGeneratorBubbleContainer.docsAiTextGeneratorBubbleContainer-refine-ux-v2-enabled:not(.docsAiTextGeneratorBubbleContainer-button-first-open) .docs-bubble-material-body.docsAiTextGeneratorBubbleContainer-body,
.ita-cp-hwt {
    background: var(--background-color-1);
}

.docsAiTextGeneratorBubbleContainer {
    background: var(--background-color-1) !important;
}

.docs-gm .docs-save-indicator-popup-header,
.javascriptMaterialdesignGm3WizSelectOutlinedEl
    .mdc-select__option.mdc-list-item.mdc-list-item--selected,
.ita-hwt-buttons,
.ita-hwt-candidate-hover,
.ita-hwt-jfk-standard,
.docs-alt-text-tile-advanced-options-container-expanded,
.goog-char-picker-hovercard,
.javascriptMaterialdesignGm3WizIconButtonOutlined-icon-button--on,
.docs-omnibox-autocomplete .ac-active .docs-omnibox-fallback-divider,
.appsElementsGenerativeAiChipRoot,
.apps-shortcutshelpcontentimpl-search,
.appsElementsSidekickSuggestionsSkeletonLoader,
.docs-grille-gm3 .docs-titlebar-badge.docs-titlebar-badge-selected,
.docs-grille-gm3 .docs-titlebar-badge:active,
.javascriptMaterialdesignGm3WizDialog-dialog__surface,
.docs-bubble,
.smart-canvas-date-picker-bubble,
.goog-date-picker,
.apps-search-popup-menu,
.docs-gm .docs-linkbubble-bubble,
.docs-gm .docs-multi-linkbubble-bubble,
.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__menu,
.docs-slidingdialog,
.docs-material .goog-toolbar-button,
.docs-material .goog-toolbar-combo-button,
.docs-material .goog-toolbar-menu-button,
.modal-dialog-title,
.modal-dialog-content,
.kix-embedded-entity-bubble.docs-bubble,
.docs-gm.docs-grille-gm3 .docs-material .docs-chat.jfk-button,
.docs-gm.docs-grille-gm3 .docs-material .docs-chat.jfk-button-clear-outline,
.docs-grille-gm3 .docs-material .docs-presence-plus-widget-overflow-button,
.docs-gm .docs-chat-edit-container,
.docs-chat-messages,
.docs-gm .docs-chat-pane-container,
.docs-chat-pane,
.docs-material .docs-presence-plus-collab-widget-color-block,
.docs-material.docs-presence-plus-widget-overflow-menu
    .docs-presence-plus-collab-widget-color-block,
.miniChapterSwitcherChapterList.goog-menu.goog-menu-vertical.miniChapterSwitcherChapterListViewContainer,
.javascriptMaterialdesignGm3WizDatatable-data-table__row,
.javascriptMaterialdesignGm3WizMenu-menu,
.javascriptMaterialdesignGm3WizMenuSurface-menu-surface,
.javascriptMaterialdesignGm3WizDialog-dialog--fullscreen
    .javascriptMaterialdesignGm3WizDialog-dialog__surface,
.javascriptMaterialdesignGm3WizDialog-dialog--fullscreen
    .javascriptMaterialdesignGm3WizDialog-dialog__header,
.javascriptMaterialdesignGm3WizCardFilled-card {
    background-color: var(--background-color-1);
}

.kix-rich-link-view {
    background-color: var(--background-color-1) !important;
}

//////////
// FILL //
//////////

.chapter-item-label-and-buttons-container-selected
    .chapterDocoIndicatorViewIcon,
.pageSetupDialogStaticSvg > svg > rect:first-child {
    fill: var(--background-color-1);
}

// STROKE (DOCUMENT DETAILS LOADING CIRCLE)

.javascriptMaterialdesignGm3WizCircularProgress-circular-progress__track {
    stroke: var(--background-color-1);
}
