.goog-menu,
.docs-contentembedding-titlebar,
.docs-contentembedding-sidebar,
.kixChaptersOnboardingPromo,
.kixChaptersOnboardingPromoContent,
.docs-image-generation-example-gallery-expand-button,
.docs-gm .imageGenerationStylePresetsMenu.goog-menu,
.dropdownEntityConfigurationDialogItemActiveDragItemComponent, // Could also be root background color
.docos-comments-pe .docos-anchoreddocoview-internal,
.docs-alt-text-tile-description-text-field,
.docs-alt-text-tile-title-input,
.docs-material-hsv-color-picker-input,
.docs-grille-gm3 #docs-align-palette,
.docs-sidebar-toggle-tabs,
.kix-watermark-text-input-container input,
.kix-watermark-format-toolbar.goog-toolbar,
.kix-watermark-font-size-combo-box-container input,
.docs-mic-palette .goog-flat-menu-button,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher,
.javascriptMaterialdesignGm3WizCardOutlined-card,
.apps-shortcutshelppopup,
.apps-shortcutshelpcontentimpl-container,
.apps-shortcutshelpcontentimpl-ac-renderer,
.docs-grille-gm3 .docos-docoview-active.docos-emoji-reaction-doco-view .docs-material-button-content,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherNavigationEntryPointIcon,
.appsElementsEmojipickerListAlternatepickerAlternateContainer,
.docs-grille-gm3.docs-body-pageless #docs-align-palette, .docs-grille-gm3.docs-body-pageless #docs-align-palette .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3.docs-body-pageless .docs-toolbar-more-toolbar, .docs-grille-gm3.docs-body-pageless.docs-gm #docs-toolbar-wrapper,
.docs-grille-gm3.docs-body-pageless .docos-emoji-reaction-doco-view-emojis .docs-material-button-flat-primary,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select .docs-material-gm-select-outer-box, .miniChapterSwitcherContainerView.miniChapterSwitcherPageless .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select .miniChapterSwitcherChapterIcon, .miniChapterSwitcherContainerView.miniChapterSwitcherPageless .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.miniChapterSwitcherPageless.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select .miniChapterSwitcherNavigationEntryPointMask,
.goog-toolbar.kix-citations-source-list-item-toolbar,
.miniChapterSwitcherChapterList.goog-menu.goog-menu-vertical.miniChapterSwitcherChapterListViewContainer .goog-menuitem.goog-menuitem-active, .miniChapterSwitcherChapterList.goog-menu.goog-menu-vertical.miniChapterSwitcherChapterListViewContainer .goog-menuitem.goog-option-selected,
.hiddenFeaturesBubbleContainer,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-disabled, .docs-gm .modal-dialog .goog-buttonset-action[disabled], .docs-gm .modal-dialog .jfk-button-action.jfk-button-disabled,
.docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview .docos-anchoredreplyview, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-body-pageless .docos-comments-pe .docos-anchoreddocoview .docos-replyview-reply-count, .docs-grille-gm3.docs-body-pageless .docos-comments-pe .docos-anchoreddocoview-internal,
.appsElementsGenerativeaiLoadingIndicatorSkeletonLineMask,
.docs-body-pageless .docos .docos-comments-pe .docos-assigneeview, .docs-body-pageless .docos-comments-pe .docos-anchoreddocoview:hover .docos-anchoreddocoview-internal, .docs-body-pageless .docos-comments-pe .docos-anchoreddocoview:hover .docos-replyview-reply-count, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover .docos-anchoreddocoview-input-pane, .docs-grille-gm3.docs-body-pageless .docos-anchoreddocoview:hover .docos-anchoredreplyview,
.docos-comments-pe .docos-anchoreddocoview-internal,
.docs-grille-gm3 .docos-anchoreddocoview, .docs-grille-gm3 .docos-anchoreddocoview .docos-anchoredreplyview, .docs-grille-gm3 .docos-anchoreddocoview-input-pane,
.docs-omnibox-input.jfk-textinput,
.docs-proofread-sidebar,
.docsAiTextGeneratorBubbleContainer.docsAiTextGeneratorBubbleContainer-refine-ux-v2-enabled.docsAiTextGeneratorBubbleContainer-show-preview .docs-ai-text-generator-bubble-free-form-input-textarea {
    background: var(--background-color-2);
}

.docs-material-button-fill-primary.docs-material-button-disabled {
    background: var(--background-color-2);
}

.docs-titlebar-buttons.docs-titlebar-buttons-view-mode[style]:not([style=""]),
div#docs-chrome[style]:not([style=""]),
div[style="background: #F0F6FF; border: 1px solid black; margin-top: 35px; padding: 10px 125px; width: 300px;"],
.docs-proofread-sidebar-filter-menu {
    background: var(--background-color-2) !important;
}

.kix-citations-sidebar-titlebar,
.kix-citations-sidebar,
.kix-citations-create-view-search, .kix-citations-create-view-top, .kix-citations-list-view-top,
.kix-linenumbers-sidebar,
.docs-gm .docs-dictionary-sidebar,
.docs-gm .docs-dictionary-titlebar,
.docs-gm .docos-comments-pe .docos-streampane-header, .docs-gm .docos-comments-pe .docs-docos-activity-sidebar-header,
.docos-comments-pe.docs-docos-activity-sidebar,
.docos-comments-pe .docos-streampane-all-filtered-out-state, .docos-comments-pe .docos-streampane-zero-state,
.docs-grille-version-history.docs-revisions-sidebar,
.docs-grille-version-history .docs-revisions-sidebar-header,
.docs-grille-version-history .docs-revisions-sidebar-date-group,
.docs-grille-gm3 .jfk-tooltip,
.docs-explore-searchbar-labelinput:focus,
.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background, .companion-theme-light .companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.jfk-bubble,
.docs-grille-gm3 .docs-ui-toast,
.ita-hwt-ime,
.ita-hwt-candidates,
.docsContentLibrarySidebarContainer,
.apps-search-popup-menu,
.docs-tiled-sidebar,
.docs-gm .docs-tiled-sidebar-header,
.docs-gm .goog-zippy-expanded.docs-sidebar-tile-header,
.docs-gm .docs-sidebar-tile-controls,
.miniChapterSwitcherCore .docs-material-gm-select .docs-material-gm-select-outer-box,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherNavigationEntryPointMask,
.docs-grille-gm3.docs-gm .docs-material #docs-toolbar-wrapper,
.docs-grille-gm3 #docs-align-palette .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3 .trix-palette .goog-toolbar-menu-button,
.smart-canvas-date-picker-bubble,
.goog-date-picker,
// .docs-gm .docs-linkbubble-bubble, .docs-gm .docs-multi-linkbubble-bubble,
.javascriptMaterialdesignGm3WizCardElevated-card,
.docs-material-color-swatch-checkbox-background,
.kix-watermark-sidebar,
.kix-watermark-sidebar-header,
.kix-header-footer-bubble-menu.goog-menu,
.docs-gm .kix-bookmark-bubble,
.right-gutter-resizer-expansion-button,
.docs-palette-body,
.appsElementsSidekickZeroStateIconContainer,
.docs-ruler-contributed-dragger-container,
.docos-emoji-reaction-doco-view .docs-material-button-raised-default,
.document-details-bubble-container,
.docs-grille-gm3 .docs-toolbar-more-toolbar, .docs-grille-gm3 .trix-palette,
.docs-material #docs-script-button-bar .jfk-button {
    background-color: var(--background-color-2);
}

.docs-chat-message-body,
.docs-proofread-sidebar-filter-menu-button {
    background-color: var(--background-color-2) !important;
}

////////////////////////
// DIRECTIONAL BORDER //
////////////////////////

.docs-chat-message-tip {
    border-left-color: var(--background-color-2) !important;
}
