:root {
    --primary-background-color: #1b1b1b;
    --secondary-background-color: #262626;
    --menu-background: #1b1b1bf0;
    --hover-background-color: #333333;
    --input-background-color: #404040;

    /* buttons */
    --button-background-color: #4d4d4d;
    --button-background-color-hover: #2196F3;
    --button-background-color-focus: #2196F3;
    --button-two-background-color: #262626;
    --button-two-background-color-hover: #333333;

    --enabled-background-color: #808080;
    --selection-background-color: #999999;

    --primary-border-color: #4d4d4d;
    --secondary-border-color: #404040;

    --primary-text-color: #f2f2f2;
    --secondary-text-color: #cccccc;
    --tertiary-text-color: #999999;
    --disabled-text: #666666;
    --accent-text: #64B5F6;
}

/* text colors */

/* primary text color */

body,
label,
#document-details-bubble-header,
.docs-gm .docs-revisions-chromecover-content-color-default,
.docs-gm .docs-revisions-sidebar-header,
.apps-shortcutshelpcontentimpl-dialog-title,
.apps-navigationwidget,
.apps-actiondatawidget-content-header,
.apps-shortcutshelpcontentimpl-search-label,
.docs-gm .modal-dialog-title-text,
.docs-gm .docs-offline-optinpromo-title-text,
.docs-smart-canvas-scrollable-inputless-insert-menu .docs-inline-insert-menu-item-title,
.visual-treatment-meeting-notes .docos-calltoactionview-header,
.docs-gm .docs-ui-toast,
.docs-gm .docs-link-searchinput-search,
.docs-material-gm-dialog-title-text,
.kix-pagenumberdialog-title,
.docs-gm .docs-customspacingdialog-content,
.docs-gm .modal-dialog button,
.docs-gm .modal-dialog .jfk-button-standard,
.docs-material-gm-labeled-checkbox .docs-material-gm-labeled-checkbox-label,
.docs-insert-link-bubble-back-search-text,
.docs-gm .docs-details-dialog .modal-dialog-title-text,
.docs-gm .docs-details-field,
.docs-material-button-hairline-primary.docs-material-button,
.kix-pageorientationdialog-title,
.docs-gm .docs-revisions-sidebar-revisions-empty-title,
.docs-gm .kix-header-footer-bubble-description {
    color: var(--primary-text-color);
}

input,
.docs-title-input:focus,
.docs-gm .modal-dialog .jfk-textinput,
.docs-gm.docs-material-gm-dialog .jfk-textinput,
.docs-gm .docs-material-bubble .jfk-textinput {
    color: var(--primary-text-color) !important;
}

.apps-shortcutshelpcontentimpl-reset-search-button-icon,
.docs-palette-close-icon,
.docs-palette-grippy-icon {
    fill: var(--primary-text-color) !important;
}

.docs-mic-button,
.docs-mic-svg-icon-path,
.docs-mic-palette-help>svg,
.docs-explore-icon.docs-explore-widget-icon.docs-explore-widget-icon-inactive.goog-inline-block>svg>path {
    fill: var(--secondary-text-color);
}

/* secondary text color */

.docs-gm .docs-ruler-face-number,
.docs-gm .docs-menubar .goog-control,
.docs-material .goog-toolbar-button,
.docs-material .goog-toolbar-menu-button,
.docs-material .goog-toolbar-combo-button-input,
.docs-gm .goog-menuitem,
.docs-parent-collections-container-prefix,
.docs-parent-collections-container-text,
.docs-parent-collections-container-folder-name,
.docs-save-indicator-popup-text,
.docs-save-indicator-popup-subtitle,
.docs-bubble,
.kix-spell-bubble .kix-spell-bubble-suggestion-text,
.docs-feedbackmenu-troubleshoot-item,
.docs-gm .docos-anchoredreplyview .docos-anchoredreplyview-body,
.document-details-entry-text,
.docs-linkbubble-link-preview .docs-link-bubble-text-card-component span,
.docs-material .docs-presence-plus-widget-overflow-button.goog-flat-menu-button-hover,
.outline-refresh .navigation-item,
.outline-refresh .navigation-widget-empty-content,
.docs-material.docs-presence-plus-widget-overflow-menu .goog-menuheader,
.docs-material.docs-presence-plus-widget-overflow-menu .docs-presence-plus-collab-widget-name,
.goog-menuitem-highlight .goog-menuitem-content,
.goog-menuitem-hover .goog-menuitem-content,
.docs-gm .docs-revisions-tile-collaborator-name,
.docs-gm .docs-revisions-tile-descriptor,
.docs-gm .docs-revisions-tile-text-box~.docs-revisions-tile-descriptor,
.docs-revisions-tile-text-box:disabled,
.docs-gm .docs-revisions-sidebar-name-filter-switch-container label,
.apps-actiondatawidget-shortcut-desc,
.apps-shortcutshelppopup,
.docs-voice-mic-bubble,
.docs-voice-activity-bubble,
.goog-flat-menu-button,
.docs-mic-palette .goog-flat-menu-button-caption,
.docs-gm .modal-dialog,
.docs-gm .modal-dialog.google-url-picker,
.docs-gm .modal-dialog-content,
.docs-gm #docs-offline-optinpromo-description,
.docs-gm #docs-offline-optinpromo-learn-more-container,
.docs-gm .modal-dialog .goog-flat-menu-button-caption,
.docs-gm .kix-tablesidebar-control .goog-flat-menu-button-caption,
.docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button-caption,
.docs-findinput-count,
.script-promo-menu-item-title,
.docs-gm .docs-linkbubble-bubble,
.docs-gm .docs-multi-linkbubble-bubble,
.docs-gm .kix-translatedialog-desc,
.docs-gm .kix-translatedialog-label,
.docs-link-smartlinksuggestioncontentbox-offline-label,
.docs-link-smartlinksuggestioncontentbox-empty-label,
#docs-toolbar-iterator-label,
.docs-gm .docs-details-value {
    color: var(--secondary-text-color) !important;
}

.goog-menuitem-highlight .goog-menuitem-content,
.goog-menuitem-hover .goog-menuitem-content,
.goog-option-selected .goog-menuitem-content,
.docs-gm .docos-anchoredreplyview-header .docos-anchoredreplyview-author,
.docs-gm .docos-input-typing>.docos-input-textarea,
.kix-pagesetupdialog-units,
.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tab .docs-tabbar-tablabel:hover,
.docs-gm .docs-preferencesdialog-list-title,
.visual-treatment-meeting-notes .docos-calltoactionview-body,
.docos-calltoactionview-dont-show-again-label,
.docs-insert-link-bubble-internal-links-button,
.docs-link-smartlinksuggestion-search,
.docs-link-smartlinksuggestion-title,
.docs-gm .docs-link-smartinsertlinkbubble-text-label,
.docs-insert-link-bubble-internal-links-text,
.docs-autocorrect-bubble .docs-autocorrect-bubble-undo,
.docs-gm .kix-header-footer-bubble-checkbox-label {
    color: var(--secondary-text-color);
}


/* tertiary text */

.docs-title-save-label,
.docs-fontmenu .docs-fonts-section-header,
.docs-gm .docs-colormenuitems .docs-colormenuitems-scheme-header,
.docs-gm .docs-colormenuitems .docs-colormenuitems-custom-header,
.docs-gm .docos-anchoredreplyview-header .docos-anchoredreplyview-timestamp,
.docs-material .docs-presence-plus-widget-overflow-button,
.docs-gm .docs-revisions-sidebar-date-group,
.apps-actiondatawidget-shortcut-key,
.script-promo-menu-item-description,
.docs-preferencesdialog-subtext,
.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tablabel,
.docs-smart-canvas-scrollable-inputless-insert-menu .docs-inline-insert-menu-item-subtext,
.docs-link-smartlinksuggestion-search,
.docs-material-gm-labeled-checkbox .docs-material-gm-labeled-checkbox-description,
.docs-titlebar-badge,
.docs-indentationdialoggm-units,
.docs-gm .docs-revisions-sidebar-revisions-empty-details,
.docs-material.docs-presence-plus-widget-overflow-menu .docs-presence-plus-collab-widget-idle-text {
    color: var(--tertiary-text-color);
}

/* disabled text */

.docs-gm .goog-menuitem-disabled,
.docs-gm .goog-menuitem-disabled .goog-menuitem-content,
.docs-material-button-disabled.docs-material-button-flat-primary,
.docs-material-button-disabled.docs-material-button-flat-default,
.docs-material-button-disabled.docs-material-button-raised-default,
.goog-menuitem-disabled .goog-menuitem-accel,
.goog-menuitem-disabled .goog-menuitem-content,
.docs-gm .modal-dialog .jfk-radiobutton-disabled .jfk-radiobutton-label,
.docs-gm .modal-dialog button[disabled],
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-disabled,
.docs-title .docs-title-untitled,
.docs-title-input-label.docs-title-untitled {
    color: var(--disabled-text) !important;
}

.apps-menuitem .goog-menuitem-label {
    color: inherit !important;
}

/* selection color */

.docs-gm .goog-toolbar-combo-button-input::selection,
.docs-gm .docs-link-smartinsertlinkbubble ::selection {
    background-color: var(--selection-background-color);
}

/* backgrounds */

/* primary background color */

body,
.docs-gm #docs-editor,
.docs-gm #docs-editor-container,
.kix-appview-editor,
.apps-shortcutshelpcontentimpl-container,
.apps-shortcutshelppopup {
    background: var(--primary-background-color) !important;
}

/* secondary background color */

.docs-gm #kix-vertical-ruler,
.docs-ruler-contributed-dragger-container,
.docs-ruler-contributed-dragger-container,
.companion-app-switcher-container,
.docs-gm .docs-horizontal-ruler,
.docs-material #docs-header .docs-titlebar-buttons,
.jfk-bubble,
.docs-bubble,
.docs-gm .docos-anchoreddocoview,
.document-details-bubble-container,
.docs-omnibox-autocomplete .ac-renderer,
.docs-material #docs-equationtoolbar,
.docs-material .docs-printpreview-toolbar,
.docs-gm .docs-revisions-chromecover-content-color-default,
.docs-gm .docs-revisions-sidebar-header,
.docs-gm .docs-revisions-sidebar-date-group,
.docs-revisions-sidebar,
.apps-shortcutshelpcontentimpl-ac-renderer,
.docs-palette-body,
.docs-palette-title-bar,
.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tab-hover,
.docs-gm .docos-calltoactionview-container,
.docs-slidingdialog,
.docs-gm .docs-link-smartinsertlinkbubble-text-label {
    background-color: var(--secondary-background-color) !important;
}

#docs-chrome,
.docs-material #docs-toolbar-wrapper,
#kix-vertical-ruler,
.docs-material.docs-toolbar-more-toolbar,
.docos-anchoreddocoview .docos-replyview-first.docos-anchoredreplyview,
.docs-gm .docos-anchoredreplyview,
.docs-gm .docos-showrepliesbutton,
.docs-gm .docos-anchoreddocoview-input-pane,
#docs-meet-in-editors-entrypointbutton,
.docs-gm .docs-ui-toast {
    background: var(--secondary-background-color);
}

/* hover background color */

.instant-button:hover,
.docs-gm .docs-material .docs-chat.jfk-button,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-clear-outline,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-active.jfk-button-focused,
.docs-gm .kix-spell-bubble-suggestion-text:hover,
.docs-gm .kix-spell-bubble-option:hover,
.docs-gm .kix-spell-bubble-option:focus,
#titlebar-mode-indicator-container>.docs-material-menu-button-flat-primary-hover,
.titlebar-request-access-button.docs-material-button.docs-material-button-hover,
#docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-hover,
#docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-focused,
.docs-revisions-tile-selected,
.docs-revisions-tile-hover:not(.docs-revisions-tile-selected),
.docs-omnibox-parent .docs-labelinputmenuitem.goog-menuitem.goog-menuitem-highlight,
.docs-mic-palette-body-hover,
.docs-mic-palette .goog-flat-menu-button-hover,
.docs-mic-palette .goog-flat-menu-button-focused,
.docs-gm .docs-dialog .modal-dialog-title-close:hover {
    /* although not hover elements, some elements may use the
    hover-background-color to differentiate themselves from the
    secondary-background-color */
    background: var(--hover-background-color) !important;
}

.docs-ruler-background-inner,
.docs-gm ::-webkit-scrollbar-thumb,
.docs-gm .docs-menubar .goog-control-hover,
.docs-gm .docs-titlebar-badge:hover,
.docs-titlebar-badge.goog-flat-button-focused,
.docs-titlebar-badge.goog-control-focused,
.goog-control-focused .docs-titlebar-badge,
.docs-gm .docs-menubar .goog-control-open,
.docs-gm .docs-material .goog-toolbar-button-hover,
.docs-gm .docs-material .goog-toolbar-menu-button-hover,
.docs-gm .docs-material .goog-toolbar-combo-button-hover,
.docs-gm .docs-material .docs-toolbar-button-split-sympathy-hover,
.docs-gm .docs-material .docs-toolbar-split-create-button,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-button-hover,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-hover .docs-gm .docs-material.trix-palette .goog-palette-cell-hover,
.docs-gm .docs-material .goog-toolbar-button-active,
.docs-gm .docs-material .goog-toolbar-button-checked,
.docs-gm .docs-material .goog-toolbar-button-selected,
.docs-gm .docs-material .goog-toolbar-combo-button-open,
.docs-gm .docs-material .goog-toolbar-menu-button-open,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-button-active,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-active,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-open,
.docs-gm .docs-material.trix-palette .goog-palette-cell-selected,
#docs-toolbar-mode-switcher.edit-mode,
.docs-omnibox-material-style .docs-omnibox-input.jfk-textinput,
.app-switcher-button-hover .app-switcher-button-icon-background,
.app-switcher-button-open .app-switcher-button-icon-background,
.companion-theme-light .app-switcher-button-selected .app-switcher-button-icon-background,
.companion-theme-light .app-switcher-button-focused .app-switcher-button-icon-background,
#docs-toolbar-mode-switcher.suggest-mode,
.docs-parent-collections-container:hover,
.docs-parent-collections-container:focus,
.companion-guest-app-switcher .app-switcher-button-inksplash .app-switcher-button-icon-background-inner,
.companion-guest-app-switcher .app-switcher-button-presence .app-switcher-button-icon-background-inner,
.companion-guest-app-switcher .app-switcher-button-selected .app-switcher-button-icon-background-inner,
.app-switcher-button-selected.agca-gab-blue.app-switcher-button-focused .app-switcher-button-icon-background-inner,
.docs-gm .docs-titlebar-badge:active,
.docs-gm .docs-titlebar-badge.docs-titlebar-badge-selected,
.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.companion-theme-light .companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.docs-material .docs-presence-plus-collab-widget-color-block,
.docs-material.docs-presence-plus-widget-overflow-menu .docs-presence-plus-collab-widget-color-block,
.docs-material .docs-presence-plus-widget-overflow-button,
.docs-omnibox-autocomplete .ac-active,
.apps-navigationwidget-item-hover,
.apps-shortcutshelpcontentimpl-ac-renderer .ac-active,
.docs-title-input:focus,
.docs-gm .docs-material #docs-docos-commentsbutton.jfk-button.jfk-button-active,
.docs-gm .docs-material #docs-docos-commentsbutton.jfk-button.jfk-button-checked,
.docs-link-smartlinksuggestion:hover,
.docs-link-smartlinksuggestion:focus,
.docs-link-smartlinksuggestion-paste-match:hover,
.docs-link-smartlinksuggestion-paste-match:focus,
.docs-link-smartlinksuggestion-paste-match,
.docs-insert-link-bubble-internal-links-button:hover,
.docs-insert-link-bubble-internal-links-button:focus,
.docs-link-back-to-search-icon-button:hover,
.docs-link-back-to-search-icon-button:focus,
.docs-gm .kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button.goog-flat-menu-button-hover,
.docs-gm .kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button.goog-flat-menu-button-open,
.docs-gm .docs-autocorrect-bubble-undo:hover,
.docs-gm .docs-autocorrect-bubble-more-options:hover {
    background-color: var(--hover-background-color) !important;
}

/* input background color */

.docs-omnibox-input.jfk-textinput,
.apps-shortcutshelpcontentimpl-search-focused,
.docs-mic-palette .goog-flat-menu-button,
.docs-gm .docs-save-indicator-popup-header

/* header in changes saved to drive popup */
    {
    background-color: var(--input-background-color) !important;
}

.docs-mic-palette .goog-flat-menu-button,
.docs-findinput-container,
.docs-gm .modal-dialog .jfk-textinput,
.docs-gm.docs-material-gm-dialog .jfk-textinput,
.docs-gm .docs-material-bubble .jfk-textinput,
.docs-smart-link-searchinput-search-container {
    background: var(--input-background-color);
}

.docs-explore-widget {
    background: var(--secondary-background-color) !important;
}

#docs-instant-bubble:hover {
    background: var(--secondary-background-color);
}

#docs-instant-bubble,
#docs-instant-bubble:hover {
    /* #docs-instant-bubble was originally opaque */
    background: var(--secondary-background-color);
}

.docs-gm .goog-menuitem-active:hover:active {
    /* this was originally a lighter shade */
    background-color: var(--hover-background-color);
}

.docs-gm .goog-menuitem-highlight {
    background-color: var(--hover-background-color);
}

/* unidentified */

.docs-material #docs-script-button-bar .jfk-button {
    background-color: #ffffff1a !important;
    color: #ffffff9a !important;
}

/* borders */

/* primary border */

.docs-ruler-contributed-dragger-container,
.jfk-tooltip,
#docs-instant-bubble,
.goog-palette-cell .docs-preview-palette-item,
#titlebar-mode-indicator-container>.docs-material-menu-button-flat-primary,
.titlebar-request-access-button.docs-material-button,
.titlebar-request-access-button.docs-material-button.docs-material-button-focused.docs-material-button-no-focus-border,
.kix-titlebar-approvals-button.docs-material-button,
.kix-titlebar-approvals-button.docs-material-button.docs-material-button-focused.docs-material-button-no-focus-border,
.document-details-bubble-container,
.docs-gm .docs-save-indicator-popup.jfk-bubble,
.docs-gm .goog-menu,
.apps-shortcutshelppopup,
.docs-palette-body,
.docs-gm .modal-dialog,
.docs-gm .modal-dialog.google-url-picker,
.docs-gm .docs-offline-optinpromo.jfk-bubble,
.docs-gm .docs-sync-indicator-popup.jfk-bubble,
.docs-gm .modal-dialog .goog-flat-menu-button,
.docs-gm .kix-tablesidebar-control .goog-flat-menu-button,
.docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button,
.ita-cp-search,
.ita-cp-charpicker .goog-char-picker-grid,
.ita-cp-hwt,
.docs-gm .modal-dialog button,
.docs-gm .modal-dialog .jfk-button-standard,
.docs-search-popup-menu,
.docs-gm .docs-ui-toast,
.docs-gm.docs-material-gm-dialog .jfk-textinput,
.docs-gm .docs-material-bubble .jfk-textinput,
.docs-smart-link-searchinput-search-container,
.docs-material-gm-dialog,
.docs-checkupdialog-content-container,
.docs-gm .modal-dialog button:hover,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover,
.docs-gm .modal-dialog button:focus,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-focused,
.docs-gm .modal-dialog button:hover:focus,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover.jfk-button-focused,
.docs-copydocdialog-destination-button,
.docs-copydocdialog-appsscript-button,
.docs-material-button-hairline-primary.docs-material-button,
.docs-material-button-hairline-default.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border {
    border: 1px solid var(--primary-border-color) !important;
}

.docs-title-input:hover,
.goog-toolbar[role="toolbar"] .docs-font-size-inc-dec-action-button.goog-toolbar-button,
#fontSizeSelect.docs-font-size-inc-dec-combobox,
.goog-menuitem.docs-submenuitem,
.docs-material .docs-presence-plus-collab-widget-color-block,
.docs-material.docs-presence-plus-widget-overflow-menu .docs-presence-plus-collab-widget-color-block,
.docs-gm .docs-material .docs-chat.jfk-button,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-clear-outline,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-active.jfk-button-focused,
.goog-flat-menu-button,
.docs-palette-title-bar,
.ita-cp-hwt-hint,
.docs-insert-link-bubble-internal-links-button,
.docs-revisions-tile-text-box:hover:enabled,
.docs-gm .kix-spell-bubble,
.docs-gm .docs-autocorrect-bubble,
.docs-gm .kix-header-footer-bubble.docs-bubble {
    border-color: var(--primary-border-color) !important;
}

.docs-gm .docos-input-textarea,
.docs-gm .docs-findinput-container,
.docs-gm .docs-gotoinput-container,
.docs-gm .modal-dialog .jfk-textinput {
    border: 1px solid var(--primary-border-color);
}

.docs-vertical-ruler,
.goog-char-picker-grid .goog-flat-button,
.docs-slidingdialog,
.goog-toolbar-combo-button-hover .goog-toolbar-combo-button-input {
    border-right: 1px solid var(--primary-border-color) !important;
}

.companion-app-switcher-container,
.docs-gm .goog-toolbar-separator.goog-inline-block,
.docs-slidingdialog {
    border-left: 1px solid var(--primary-border-color) !important;
}

#kix-vertical-ruler {
    border-left: none !important;
}

.docs-ruler-context-menu-arrow-vertical .docs-ruler-context-menu-arrow-before,
.docs-ruler-context-menu-arrow-vertical .docs-ruler-context-menu-arrow-after,
.docs-ruler-context-menu-arrow-horizontal .docs-ruler-context-menu-arrow-after,
.docs-ruler-context-menu-arrow-horizontal .docs-ruler-context-menu-arrow-before,
.docs-material .docs-presence-plus-widget-overflow-button {
    border-color: transparent var(--primary-background-color);
}

.docs-material .docs-presence-plus-widget-overflow-button.goog-flat-menu-button-active .goog-flat-menu-button-dropdown,
.docs-material .docs-presence-plus-widget-overflow-button.goog-flat-menu-button-focused .goog-flat-menu-button-dropdown,
.docs-material .docs-presence-plus-widget-overflow-button.goog-flat-menu-button-hover .goog-flat-menu-button-dropdown {
    border-color: var(--primary-border-color) transparent;
}

.docs-omnibox-input.jfk-textinput:focus[aria-expanded="true"] {
    border-color: transparent transparent var(--primary-border-color) transparent;
}

.companion-app-switcher-separator,
.companion-app-switcher-add-on-container::before,
.docs-companion-app-switcher-container,
.docs-gm #docs-toolbar-wrapper,
.apps-hoverable-menu-separator-container .apps-hoverable-menu-separator-bottom,
.docs-gm .goog-menuseparator,
.docs-gm .docos-showrepliesbutton,
.docs-gm .docos-anchoreddocoview-input-pane,
.kix-document-top-shadow.read-mode-titlebar-border,
.docs-gm .docs-revisions-sidebar-name-filter-switch-container,
.docs-revisions-sidebar-actions {
    border-top: 1px solid var(--primary-border-color) !important;
}

.docs-gm .docs-horizontal-ruler,
.docs-gm #docs-toolbar-wrapper,
.docs-material #docs-equationtoolbar,
.docs-gm .docs-revisions-sidebar-header,
.docs-revisions-sidebar-date-group,
.docs-revisions-tile-content-wrapper,
.goog-char-picker-grid .goog-flat-button,
.docos-calltoactionview-checkbox-container,
.docs-slidingdialog {
    border-bottom: 1px solid var(--primary-border-color) !important;
}

.docs-gm .kix-documentmetricsdialog-row {
    border-bottom: 2px solid var(--primary-border-color) !important;
}

.docs-gm .docs-material .docs-toolbar-button-split-right.goog-toolbar-button-hover,
.docs-gm .docs-material .docs-toolbar-button-split-right.goog-toolbar-menu-button-hover,
.docs-gm .docs-material .docs-toolbar-button-split-right.docs-toolbar-button-split-sympathy-hover,
.docs-gm .docs-material .docs-toolbar-button-split-left+.docs-toolbar-button-split-right.goog-toolbar-menu-button-open,
.docs-gm .docs-material .docs-toolbar-split-create-button+.docs-toolbar-button-split-right {
    border-left-color: var(--secondary-border-color) !important;
}

.kix-equation-toolbar-palette-item,
.docs-gm .docs-preferencesdialog-list-body {
    border: none !important;
}

/* .goog-toolbar-combo-button-input {
    border: none;
} */

/* border radius */

.apps-shortcutshelppopup {
    border-radius: 12px;
}

.kix-page,
.docs-title-input,
.docs-gm .goog-menu,
.docs-gm .jfk-tooltip,
.docs-parent-collections-container:hover,
.docs-parent-collections-container:focus,
#titlebar-mode-indicator-container>div,
.docs-gm .docs-save-indicator-popup.jfk-bubble,
.docs-gm #docs-titlebar-share-client-button .jfk-button,
.docs-omnibox-autocomplete .ac-renderer,
.docs-revisions-chromecover-titlebar-button-action,
.docs-revisions-chromecover-titlebar-second-button-action,
.apps-shortcutshelpcontentimpl-ac-renderer,
.jfk-bubble,
.ita-cp-search,
.ita-cp-hwt,
.docs-gm .modal-dialog .goog-flat-menu-button,
.docs-gm .kix-tablesidebar-control .goog-flat-menu-button,
.docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button,
.docs-gm .modal-dialog button,
.docs-gm .modal-dialog .jfk-button-standard,
.docs-gm .modal-dialog .goog-buttonset-action,
.docs-gm .modal-dialog .jfk-button-action,
.docs-gm .docs-material-bubble .jfk-button-action,
.docs-gm .docs-ui-toast,
.docs-checkupdialog-content-container,
.docs-explore-widget {
    border-radius: 6px !important;
}

.jfk-button {
    border-radius: 6px;
}

.goog-palette-cell .docs-preview-palette-item,
.docs-revisions-tile-text-box {
    border-radius: 4px;
}

/* box shadows */

.docs-gm .docs-material .docs-chat.jfk-button,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-clear-outline,
.docs-gm .docs-material .docs-chat.jfk-button.jfk-button-active.jfk-button-focused {
    box-shadow: 0 0 0 2px var(--secondary-background-color);
}

/* material design box shadow */
.document-details-bubble-container,
.docs-gm .goog-menu,
.apps-shortcutshelppopup,
.apps-shortcutshelpcontentimpl-ac-renderer,
.docs-palette,
.docs-voice-mic-bubble:focus,
.docs-voice-activity-bubble:focus,
.docs-gm .modal-dialog,
.docs-gm .modal-dialog.google-url-picker,
.docs-gm .docs-offline-optinpromo.jfk-bubble,
.docs-gm .docs-sync-indicator-popup.jfk-bubble,
.docs-search-popup-menu,
.docs-gm .docos-anchoreddocoview.docos-docoview-active,
.docs-gm .docs-ui-toast,
.docs-gm .docs-linkbubble-bubble,
.docs-gm .docs-multi-linkbubble-bubble,
.docs-checkupdialog-content-container,
.docs-gm .modal-dialog button:active,
.docs-gm .modal-dialog button:focus:active,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-active,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-focus.jfk-button-active,
.docs-revisions-chromecover-titlebar-button-action.goog-flat-button-active,
.docs-revisions-chromecover-titlebar-second-button-action.goog-flat-button-active,
.docs-material-button-fill-primary.docs-material-button-hover,
.docs-explore-widget,
.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.docs-gm .docs-autocorrect-bubble {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.goog-palette-cell-hover .kix-equation-toolbar-palette-item,
.docs-mic-palette-body-hover,
.docs-gm .docs-link-smartinsertlinkbubble-text-label {
    box-shadow: none;
}

.docs-title-input {
    background-color: transparent !important;
    color: transparent !important;
}

.docs-material .goog-toolbar-button,
.docs-material .goog-toolbar-combo-button,
.docs-material .goog-toolbar-menu-button,
.docs-gm .docs-menubar .goog-control-disabled,
.docs-material-button-disabled.docs-material-button-flat-primary,
.docs-material-button-disabled.docs-material-button-flat-default,
.docs-material-button-disabled.docs-material-button-raised-default,
.docs-gm .modal-dialog .goog-flat-menu-button:active,
.docs-gm .kix-tablesidebar-control .goog-flat-menu-button:active,
.docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button:active,
.docs-gm .docs-preferencesdialog-list-body,
.modal-dialog-title,
.modal-dialog-content,
.app-switcher-button-icon-container {
    background-color: transparent;
}

.jfk-tooltip-arrowleft .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowright .jfk-tooltip-arrowimplbefore {
    border-color: transparent var(--primary-border-color) !important;
}

.jfk-tooltip-arrowdown .jfk-tooltip-arrowimplbefore,
.jfk-tooltip-arrowup .jfk-tooltip-arrowimplbefore,
.jfk-bubble-arrowdown .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowup .jfk-bubble-arrowimplbefore,
.jfk-bubble-arrowdown .jfk-bubble-arrowimplafter,
.jfk-bubble-arrowup .jfk-bubble-arrowimplafter {
    border-color: var(--primary-border-color) transparent !important;
}

.goog-palette-cell-hover .kix-equation-toolbar-palette-item,
.jfk-bubble {
    border-color: var(--primary-border-color) !important;
}

.goog-toolbar-combo-button-input:focus,
.outline-refresh #navigation-widget-bottom-fade,
.ita-cp-input,
.ita-cp-hwt,
.full-screen-share-client-dialog .modal-dialog-content,
.jfk-radiobutton-disabled:active .jfk-radiobutton-radio,
.jfk-radiobutton-disabled:hover .jfk-radiobutton-radio,
.outline-refresh:not([class*="docs-hc"]) #navigation-widget-top-shadow::after {
    background: transparent;
}

.docs-gm .goog-menuitem.goog-menuitem-highlight {
    border-color: transparent;
    border-radius: 0 6px 6px 0;
}

/* overflow */

.picker-iframe.picker-min.goog-menu,
.apps-shortcutshelpcontentimpl-ac-renderer {
    overflow: hidden;
}

:not(.docs-title-save-label-disabled)>.docs-title-save-label-text-link {
    text-decoration: none;
}

/* filters */

/* menu background */

/* slightly transparent fallback */
.goog-menu,
.docs-search-popup-menu,
.docs-material-gm-dialog,
.docs-gm .modal-dialog,
.docs-gm .modal-dialog.google-url-picker,
.docs-gm .docs-offline-optinpromo.jfk-bubble,
.docs-gm .docs-sync-indicator-popup.jfk-bubble,
.docs-gm .kix-header-footer-bubble-menu.goog-menu {
    background: var(--primary-background-color);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {

    .goog-menu,
    .docs-search-popup-menu,
    .docs-material-gm-dialog,
    .docs-gm .modal-dialog,
    .docs-gm .modal-dialog.google-url-picker,
    .docs-gm .docs-offline-optinpromo.jfk-bubble,
    .docs-gm .docs-sync-indicator-popup.jfk-bubble,
    .docs-gm .kix-header-footer-bubble-menu.goog-menu {
        background: var(--menu-background);
        -webkit-backdrop-filter: blur(16px);
        backdrop-filter: blur(16px);
    }
}

.docs-gm .docs-material .docs-icon-img,
.docs-revisions-icon-img:before {
    filter: brightness(1.5);
}

/* loading circle on link preview */
.docs-material .docs-icon-loading-circle-grey200 {
    filter: brightness(0.5) !important;
}

.kix-equation-toolbar-icon,
.kix-equation-toolbar-palette-icon {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}

/* #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button .docs-icon-present-to-all-24,
#docs-meet-in-editors-entrypointbutton.goog-flat-menu-button .docs-icon-videocam-colored-24,
.docs-material .docs-icon-document {
    filter: brightness(1.2) !important;

} */

.docs-gm .docs-material.goog-menu .apps-menuitem.goog-option-selected .goog-menuitem-checkbox {
    filter: invert(1) brightness(0.8);
}

/* replacements */

.ita-cp-lens {
    background-image: var(--lens);
}

.goog-option-selected {
    background-image: var(--checkmark);
}

.docs-revisions-icon-img:before {
    content: var(--revisions-sprite1)
}

.docs-dialog .modal-dialog-title-close:after {
    content: var(--close_18px)
}

/* unsure why this is an invalid selector, or if it even changes anything */
.docs-icon-img {
    *background: var(--jfk_sprite186)
}

.docs-icon-img:before {
    content: var(--jfk_sprite186);
}

.goog-dimension-picker div.goog-dimension-picker-highlighted {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAABAAAAAQBPJcTWAAAAJHpUWHRDcmVhdG9yAAAImXNMyU9KVXBMK0ktUnBNS0tNLikGAEF6Bs5qehXFAAAAMklEQVQ4jWNsaGhgoAZggdL/KTCDkYGBgYGJcrdAwKhBowaNGjTEDIIVI4yUGkQ1FwEA7l4CqVPfR+sAAAAASUVORK5CYII=") !important;
}

.goog-dimension-picker-unhighlighted {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAACXBIWXMAAAABAAAAAQBPJcTWAAAAJHpUWHRDcmVhdG9yAAAImXNMyU9KVXBMK0ktUnBNS0tNLikGAEF6Bs5qehXFAAAAMklEQVQ4jWN0cHBgoAZggdL/KTCDkYGBgYGJcrdAwKhBowaNGjTEDIIVI4yUGkQ1FwEAFjEB6S6hm5UAAAAASUVORK5CYII=") !important;
}

/* placeholders */

input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #cccccc;
}

input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: var(--secondary-text-color);
    opacity: 1;
}

input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: var(--secondary-text-color);
    opacity: 1;
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: var(--secondary-text-color);
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--secondary-text-color);
}

input::placeholder {
    /* Most modern browsers support this now. */
    color: #cccccc;
}

/* accent color */

.outline-refresh .location-indicator-highlight.navigation-item,
.outline-refresh .location-indicator-highlight.navigation-item .navigation-item-level-0,
.docs-bubble-link,
.docs-bubble a,
.apps-navigationwidget-item-selected,
a:link,
.docs-gm .docs-ui-toast-control-bar,
.docs-link-smartinsertlinkbubble-apply-button,
.docs-link-smartinsertlinkbubble-apply-button.jfk-button.jfk-button-standard,
.docs-material .docs-save-indicator-popup-title,
.docs-gm .docs-revisions-tile-selected .docs-revisions-tile-text-box,
.docs-gm .docs-revisions-tile-selected .docs-revisions-tile-descriptor,
.docs-gm .docs-revisions-tile-selected .docs-revisions-tile-text-box~.docs-revisions-tile-descriptor,
.docs-gm .kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button {
    color: var(--accent-text) !important;
}

.docs-explore-widget-active .docs-explore-widget-icon>svg>path {
    fill: var(--accent-text);
}

.docs-gm .modal-dialog .jfk-button-standard,
.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tab-selected .docs-tabbar-tablabel:hover,
.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tab-selected .docs-tabbar-tablabel {
    color: var(--accent-text);
}

.docs-gm .modal-dialog .jfk-textinput:focus,
.docs-gm .docs-findinput-container-focus,
.docs-gm .docs-gotoinput-container:focus,
.docs-gm .goog-toolbar-combo-button-input:focus,
.docs-gm .docs-title-input:focus,
.docs-gm .docs-link-searchinput-search-container-focus,
.docs-gm.docs-material-gm-dialog .jfk-textinput:focus,
.docs-gm .docs-material-bubble .jfk-textinput:focus {
    border: 2px solid var(--accent-text) !important;
}

.docs-material-gm-labeled-checkbox-checkbox.docs-material-gm-labeled-checkbox-checked,
.docs-material-gm-labeled-checkbox-checkbox.docs-material-gm-labeled-checkbox-undetermined {
    border: 2px solid var(--accent-text);
}

.docs-revisions-tile-text-box:focus:enabled {
    border-color: var(--accent-text) !important;
}

.docs-preferencesdialog-tabbed-menu-tabbar .docs-tabbar-tab-selected:before {
    border-top: 3px solid var(--accent-text);
}

.docs-material-gm-labeled-checkbox-checkbox.docs-material-gm-labeled-checkbox-checked,
.docs-material-gm-labeled-checkbox-checkbox.docs-material-gm-labeled-checkbox-undetermined {
    background-color: var(--accent-text)
}

/* buttons */

.docs-material-button-fill-primary.docs-material-button,
.docs-gm .modal-dialog .goog-buttonset-action,
.docs-gm .modal-dialog .jfk-button-action,
.docs-gm .docs-material-bubble .jfk-button-action,
.docs-gm #docs-titlebar-share-client-button .jfk-button,
.docs-revisions-chromecover-titlebar-button-action,
.docs-revisions-chromecover-titlebar-second-button-action {
    background: var(--button-background-color);
}

.docs-gm .modal-dialog button,
.docs-gm .modal-dialog .jfk-button-standard,
.docs-material-button-hairline-primary.docs-material-button {
    background: var(--button-two-background-color);
}

.docs-gm .modal-dialog button:hover,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover,
.docs-gm .modal-dialog button:active,
.docs-gm .modal-dialog button:focus:active,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-active,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-focus.jfk-button-active,
.docs-gm .modal-dialog button:focus,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-focused,
.docs-gm .modal-dialog button:hover:focus,
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover.jfk-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused,
.docs-material-button-hairline-primary.docs-material-button-focused,
.docs-material-button-hairline-default.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-primary.docs-material-button-focused.docs-material-button-no-focus-border,
.docs-material-button-hairline-default.docs-material-button-hover,
.docs-material-button-hairline-primary.docs-material-button-hover {
    background: var(--button-two-background-color-hover);
}

.docs-gm .modal-dialog .goog-buttonset-action:hover,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-hover,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-hover,
.docs-gm .modal-dialog .goog-buttonset-action:hover:focus,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-hover.jfk-button-focused,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-hover.jfk-button-focused,
.docs-gm #docs-titlebar-share-client-button .jfk-button.jfk-button-hover,
.docs-material-button-fill-primary.docs-material-button-hover {
    background: var(--button-background-color-hover);
}

.docs-gm .modal-dialog .goog-buttonset-action:focus,
.docs-gm .modal-dialog .jfk-button-action.jfk-button-focused,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-focused,
.docs-gm #docs-titlebar-share-client-button .jfk-button:focus {
    background: var(--button-background-color-focus);
}

/* opacity */

.docs-gm .modal-dialog button[disabled],
.docs-gm .modal-dialog .jfk-button-standard.jfk-button-disabled,
.docs-gm .modal-dialog .goog-buttonset-action[disabled],
.docs-gm .modal-dialog .jfk-button-action.jfk-button-disabled,
.docs-gm .docs-material-bubble .jfk-button-action.jfk-button-disabled {
    opacity: 0.2;
}

/* fixes */

.docs-gm .docs-revisions-sidebar-name-filter-switch-container {
    height: 39px;
}

/* .docs-explore-widget {
    margin-bottom: 17px !important;
} */

.kix-page-paginated :last-child {
    z-index: -999 !important;
}

.kix-canvas-tile-content {
    background: var(--document_background);
}