:root {
  --root-background-color: #161616;
  --primary-background-color: #1b1b1b;
  /* --primary-background-color: red; */
  --secondary-background-color: #262626;
  /* --secondary-background-color: green; */
  /* --tertiary-background-color: #333333; original */
  --tertiary-background-color: #2C2C2C;

  --menu-background: #1b1b1b;
  --hover-background-color: #333333;
  --pre-opacity-hover-background-color: #ffffff;
  --secondary-hover-background-color: #404040;

  --input-border-color: #A0A0A0;
  --input-hover-border-color: #D2D2D2;
  --input-accent-border-color: #2196f3;
  --input-background-color: #404040;

  --button-background-color: #4d4d4d;
  --button-background-color-hover: #2196f3;
  --button-background-color-focus: #2196f3;

  --dark-button-background-color: #262626;
  --dark-button-background-color-hover: #333333;
  --dark-button-border-color: #4d4d4d;
  --dark-button-border-color-hover: #404040;

  --accent-button-background-color: #2196f3;
  --accent-button-border-color: #1C7AC8;
  --accent-button-hover-background-color: #218FEA;
  --accent-button-hover-secondary-background-color: #2294F2;

  --text-button-background-color: #2195f31A;
  --text-button-hover-background-color: #218FEA1A;
  --text-button-hover-secondary-background-color: #2294F21A;

  --disabled-button-background-color: #2C2C2C;

  --enabled-background-color: #808080;
  --selection-background-color: #999999;

  --primary-border-color: #4d4d4d;
  --secondary-border-color: #404040;
  --lighter-border-color: #808080;
  --hover-border-color: #808080;

  --primary-text-color: #f2f2f2;
  --secondary-text-color: #cccccc;
  --tertiary-text-color: #999999;
  --disabled-text: #666666;
  --accent-text: #64b5f6;
  --accent-text-hover: #64b5f608;

  --comment-active: #1e88e5;
  --comment-hover: #2196f3;

  --gm3-comment-background: #202427;
  --gm3-comment-hover: #252d34;
  --gm3-ripple-pressed-color: red; /* for checkbox ripple */
}

/****************************
* COLOR: PRIMARY TEXT COLOR *
*****************************/

body,
input,
.docs-generativeai-onboarding-dialog-title,
.chapter-item-label-and-buttons-container-selected .chapter-item .goog-control,
.chapter-item-label-and-buttons-container-selected .chapter-label-content,
.docs-gm .goog-menuitem,
.goog-menuitem-highlight .goog-menuitem-content, .goog-menuitem-hover .goog-menuitem-content,
.goog-option-selected .goog-menuitem-content,
.javascriptMaterialdesignGm3WizDialog-dialog--standard .javascriptMaterialdesignGm3WizDialog-dialog__title,
.javascriptMaterialdesignGm3WizDatatable-data-table__cell,
.javascriptMaterialdesignGm3WizFormField--label,
.javascriptMaterialdesignGm3WizDialog-dialog--sheet .javascriptMaterialdesignGm3WizDialog-dialog__title,
.kix-citations-sidebar-titlebar,
.kix-citations-source-list-zero-state-heading,
.docs-material-gm-select-caption,
.kix-linenumbers-sidebar-titlebar,
.kix-linenumbers-sidebar .kix-linenumbers-checkbox-container .docs-material-gm-labeled-checkbox-label,
.kix-linenumbers-sidebar,
.kix-citations-accessed-by-select-label, .kix-citations-label, .kix-citations-source-type-select-label,
.docs-gm .docs-dictionary-titlebar,
.docs-gm .docs-explore-dictionaryentry-title,
.docs-gm .docs-explore-dictionaryentries,
.docs-material-gm-dialog-title-text,
.docs-gm .docs-offline-optinpromo-title-text, .docs-gm .modal-dialog-title-text,
.docs-gm .docs-material-gm-dialog .goog-flat-menu-button-caption, .docs-gm .kix-smart-controls-button-sidebar-edit-view-formatting-controls .goog-flat-menu-button-caption, .docs-gm .kix-tablesidebar-control .goog-flat-menu-button-caption, .docs-gm .modal-dialog .goog-flat-menu-button-caption, .docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button-caption,
.docs-gm #docs-offline-optinpromo-description, .docs-gm #docs-offline-optinpromo-learn-more-container, .docs-gm .modal-dialog, .docs-gm .modal-dialog-content, .docs-gm .modal-dialog.google-url-picker,
.javascriptMaterialdesignGm3WizDialog-dialog__content,
.docs-contentembedding-titlebar,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-header,
.customSpacingDialogHeading,
.docos-comments-pe .docs-docos-activity-sidebar-header-title,
.kixChaptersOnboardingPromoTitle,
.miniChapterSwitcherSelectedChapterInfoText,
.miniChapterSwitcherChapterCountInfoText,
.chapterTooltipPromoBody,
.docs-gm .docs-revisions-chromecover-content-color-default,
.docs-gm .docs-revisions-sidebar-header,
.docs-revisions-tile-text-box:disabled,
.docs-grille-version-history .docs-revisions-tile-selected .docs-revisions-tile-text-box,
#docs-toolbar-iterator-label,
.docs-grille-version-history .docs-material-gm-labeled-checkbox, .docs-grille-version-history .docs-material-gm-labeled-checkbox-label,
.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button .goog-toolbar-combo-button-input:focus, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button-open .goog-toolbar-combo-button-input,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button:focus, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button.goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button:focus,
input#docs-findandreplacedialog-input,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled) .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled).javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.docs-checkupdialog-content-container,
.baseCopyDocDialogTitleText,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled):not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused):hover .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.docs-save-indicator-popup-subtitle,
.docs-grille-gm3 .docs-ui-toast,
.pageSetupDialogSectionTitle,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled) .mdc-select__selected-text,
.javascriptMaterialdesignGm3WizMenuSurface-menu-surface,
.javascriptMaterialdesignGm3WizButtonFilledTonal-button__label,
.appsElementsColorPicker-color-picker__swatches-label,
.javascriptMaterialdesignGm3WizTabsPrimary-tab:not(.javascriptMaterialdesignGm3WizTabsPrimary-tab--active):not(:disabled):hover .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__option .mdc-list-item__content, .javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__option .mdc-list-item__primary-text,
.ita-hwt-candidate-hover,
.ita-hwt-candidate,
.kix-spellcheck-with-explanation-bubble .kix-spellcheck-with-explanation-bubble-title-text,
.docos-ssd-radio-button-group .jfk-radiobutton-label label,
.appsDocsUiSidebarHeading,
.docs-image-synthesis-search-bar-input,
.imageGenerationStylePresetsItem,
.docs-smart-canvas-scrollable-inputless-insert-menu .docs-inline-insert-menu-item-title,
textarea.docs-search-bar-input.goog-textarea,
.docs-gm .docs-tiled-sidebar-header,
.docs-gm .docs-sidebar-tile-header
{
  color: var(--primary-text-color);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled),
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled):not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused):hover
{
  --gm3-floating-label-label-text-color: var(--primary-text-color);
}

/******************************
* COLOR: SECONDARY TEXT COLOR *
*******************************/

.docs-generativeai-onboarding-dialog-text,
.docs-generativeai-onboarding-dialog-subtext,
.outlines-widget-chaptered .navigation-widget-header,
.chapter-item .goog-control, .chapter-label-content,
.docs-gm .docs-menubar .goog-control /* menu bar text, not sure if secondary or primary */,
.docs-gm .goog-menuitem .docs-display-density-toolbar-menuitem-description, .docs-gm .goog-menuitem .docs-toolbar-mode-switcher-menu-description, .docs-gm .goog-menuitem .punch-qanda-presenter-view-menu-item-description,
.kix-citations-create-view-zero-state-content, .kix-citations-source-list-zero-state-content,
.jfk-radiobutton-disabled .jfk-radiobutton-label,
.docs-explore-dictionaryentry-sensefamily-morphunits,
.docs-explore-dictionaryentry-sense-antonym-prefix, .docs-explore-dictionaryentry-sense-synonym-prefix,
.docs-material-gm-dialog-content,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-body,
.docos-comments-pe .docos-streampane-zero-state-content-add-comment,
.docos-comments-pe .docos-filter-settings .docs-material-menu-button-flat-default,
.docos-streampane-tabbar .docs-tabbar-tab .docs-tabbar-tablabel,
.kixChaptersOnboardingPromoDescription,
.docs-material .goog-toolbar-button, .docs-material .goog-toolbar-menu-button,
.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button-input,
.docs-grille-version-history .docs-revisions-sidebar-date-group,
.docs-gm .docs-grille-version-history .docs-revisions-tile-selected .docs-revisions-tile-descriptor, .docs-gm .docs-grille-version-history .docs-revisions-tile-selected .docs-revisions-tile-text-box~.docs-revisions-tile-descriptor,
.docs-revisions-filter-selector .docs-material-gm-select-caption, .docs-revisions-filter-selector .goog-menuitem-content,
.docs-findinput-count,
.docs-gm .docs-material-bubble .jfk-textinput, .docs-gm .docs-material-gm-dialog .jfk-textinput, .docs-gm .modal-dialog .jfk-textinput,
.docs-grille-gm3 #docs-toolbar-mode-switcher .goog-toolbar-menu-button-caption,
.docs-save-indicator-popup-text,
.docs-gm .docs-revisions-tile-descriptor, .docs-gm .docs-revisions-tile-text-box~.docs-revisions-tile-descriptor,
.docs-grille-version-history.docs-revisions-filter-selector .docs-material-gm-select-caption, .docs-grille-version-history.docs-revisions-filter-selector .goog-menuitem-content,
.javascriptMaterialdesignGm3WizIconButtonStandard-icon-button,
.javascriptMaterialdesignGm3WizTabsPrimary-tab:not(.javascriptMaterialdesignGm3WizTabsPrimary-tab--active):not(:disabled) .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled):not(.mdc-select--focused):hover .mdc-floating-label--float-above,
.ita-hwt-jfk-standard,
.ita-hwt-jfk-standard.ita-hwt-jfk-hover,
.kix-spellcheck-with-explanation-bubble .kix-spellcheck-with-explanation-bubble-explanation-text,
.kix-spell-bubble .kix-spell-bubble-suggestion-text,
.docos-ssd-content p,
.docs-image-generation-example-gallery-header-title,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker,
.appsDocsColorUiWizPreviewableColorpickerPreviewTitle,
.docs-bubble,
.docs-sidebar-tile,
.docs-material-gm-labeled-checkbox .docs-material-gm-labeled-checkbox-label
{
  color: var(--secondary-text-color);
}

/*****************************
* COLOR: TERTIARY TEXT COLOR *
******************************/

.docs-gm .goog-menuitem-accel, .docs-gm .goog-menuitem-disabled .goog-menuitem-accel,
.docs-gm .docs-explore-emptylist-body,
.docos-comments-pe .docos-streampane-zero-state-footer-edu, .docos-comments-pe .docos-streampane-zero-state-footer-edu-explained,
.docs-gm .docs-grille-version-history .docs-revisions-tile-collaborator-name,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled) .mdc-floating-label--float-above,
.javascriptMaterialdesignGm3WizTextfieldFloatingLabel-floating-label__content-floating, .javascriptMaterialdesignGm3WizTextfieldFloatingLabel-floating-label__content-resting, .javascriptMaterialdesignGm3WizTextfieldFloatingLabel-floating-label__content-spacer,
.docos-ssd-radio-button-group .jfk-radiobutton-label span,
.docs-image-synthesis-sidebar .goog-menuheader:not(.genAiImageSidebarEditImageTabDisabledMessage),
.docs-smart-canvas-scrollable-inputless-insert-menu .docs-inline-insert-menu-item-subtext
{
  color: var(--tertiary-text-color);
}

/*****************************
* COLOR: DISABLED TEXT COLOR *
******************************/

.javascriptMaterialdesignGm3WizButtonFilled-button:disabled .javascriptMaterialdesignGm3WizButtonFilled-button__label,
.javascriptMaterialdesignGm3WizCheckbox-checkbox--disabled~.javascriptMaterialdesignGm3WizCheckbox-checkbox__label,
.docs-gm .goog-toolbar-button-disabled, .docs-gm .goog-toolbar-menu-button-disabled, .docs-gm .trix-palette .goog-palette-cell-disabled,
.docs-image-synthesis-sidebar .image-synthesis-creation-button.goog-button-disabled
{
  color: var(--disabled-text);
}

.docs-gm .goog-menuitem-disabled, .docs-gm .goog-menuitem-disabled .goog-menuitem-content,
.goog-menuitem-disabled .goog-menuitem-accel, .goog-menuitem-disabled .goog-menuitem-content
{
  color: var(--disabled-text) !important;
}

/***************************
* COLOR: ACCENT TEXT COLOR *
****************************/

a:link,
.docs-gm3-text-button,
.docs-explore-dictionaryentry-sense-antonym-clickable, .docs-explore-dictionaryentry-sense-synonym-clickable,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button,
.docs-checkupdialog-suggestion-button-focused.jfk-button,
.javascriptMaterialdesignGm3WizButtonOutlined-button__label,

/** TEXT BUTTON **/
.docs-gm3-text-button.docs-gm3-button-hover,
.docs-gm3-text-button.docs-gm3-button-focused,
.javascriptMaterialdesignGm3WizButtonText-button__label,
.javascriptMaterialdesignGm3WizButtonText-button:active .javascriptMaterialdesignGm3WizButtonText-button__label,
.javascriptMaterialdesignGm3WizButtonText-button:hover .javascriptMaterialdesignGm3WizButtonText-button__label,

/* ALL CHANGES SAVED TO DRIVE */
.docs-material .docs-save-indicator-popup-title,

/* PAGE SETUP TAB TEXT */
.javascriptMaterialdesignGm3WizTabsPrimary-tab--active:not(:disabled) .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizTabsPrimary-tab--active:not(:disabled):hover .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizTabsPrimary-tab--active:not(:disabled):focus .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,

.kix-spellcheck-with-explanation-bubble .kix-spellcheck-with-explanation-bubble-action

{
  color: var(--accent-text);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled).javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused
{
  --gm3-floating-label-label-text-color: var(--accent-text);
}

.docs-checkupdialog-suggestion-button.jfk-button-focused.jfk-button-hover, .docs-checkupdialog-suggestion-button.jfk-button-hover
{
  /** COULD USE SECONDARY ACCENT TEXT COLOR */
  color: var(--accent-text);
}

/***************************
* BACKGROUND: ROOT BACKGROUND COLOR *
****************************/

.navigation-widget-floating-navigation-button.navigation-widget,
#docs-chrome:not(.docs-hub-chrome),
#docs-editor, #docs-editor-container,
#docs-header:not(.docs-hub-appbar) .docs-titlebar-buttons,
.kix-citations-accessed-by-select, .kix-citations-format-select, .kix-citations-select, .kix-citations-source-type-select,
.docs-grille-gm3 .docs-revisions-chromecover-content-color-default,
.docs-material #docs-equationtoolbar, .docs-material .docs-printpreview-toolbar, /* COULD ALSO BE PRIMARY BACKGROUND COLOR */
.docs-image-synthesis-sidebar .docs-image-synthesis-search-bar-input-transition .goog-textarea,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker .docs-thumbnailcontrol-thumbnailcontainer,
.imageGenerationStylePresetsSelect.docs-material-gm-select,
.docs-search-bar,
textarea.docs-search-bar-input.goog-textarea
{
  background: var(--root-background-color);
}

.kix-appview-editor {
  background: var(--root-background-color) !important;
}

.outlines-widget-chaptered .kix-outlines-widget-header-contents,
.docs-ruler-background-inner,
#kix-vertical-ruler:before,
.docs-material .goog-toolbar-button, .docs-material .goog-toolbar-combo-button, .docs-material .goog-toolbar-menu-button
{
  background-color: var(--root-background-color);
}

.docs-vertical-ruler,
.docs-horizontal-ruler
{
  background-color: var(--root-background-color) !important;
}

/***************************************
* BACKGROUND: PRIMARY BACKGROUND COLOR *
****************************************/

.docs-material-gm-dialog,
.docs-gm .docs-offline-optinpromo.jfk-bubble, .docs-gm .docs-sync-indicator-popup.jfk-bubble, .docs-gm .modal-dialog, .docs-gm .modal-dialog.google-url-picker,
.ita-cp-hwt,
input.ita-cp-input,
.docs-body-pageless .navigation-widget-floating-navigation-button.navigation-widget,
.docs-body-pageless #docs-chrome.docs-material, .docs-body-pageless #docs-chrome.docs-material .docs-titlebar-buttons,
.left-sidebar-container.navigation-widget-in-pageless-format .outlines-widget-chaptered .kix-outlines-widget-header-contents,
.docs-body-pageless #docs-editor, .docs-body-pageless #docs-editor-container, body.docs-body-pageless, body.docs-hub,
.docs-contentembedding-titlebar,
.docs-contentembedding-sidebar,
.kixChaptersOnboardingPromo,
.kixChaptersOnboardingPromoContent,
.docs-findinput-container,
input#docs-findandreplacedialog-replace-input,
.docs-checkupdialog-content-container,
.docs-checkupdialog-suggestion-button.jfk-button,
.docs-image-generation-example-gallery-expand-button,
.docs-gm .imageGenerationStylePresetsMenu.goog-menu,
.docsEmojisWizEmojiPickerTab,
.dropdownEntityConfigurationDialogItemActiveDragItemComponent /* COULD ALSO BE ROOT */
{
  background: var(--primary-background-color);
}

.javascriptMaterialdesignGm3WizDialog-dialog__surface,
.javascriptMaterialdesignGm3WizDatatable-data-table__row,
.modal-dialog-title,
.modal-dialog-content,
.kix-citations-sidebar-titlebar,
.kix-citations-sidebar,
.kix-citations-create-view-search, .kix-citations-create-view-top, .kix-citations-list-view-top,
.kix-linenumbers-sidebar,
.docs-gm .docs-dictionary-sidebar,
.docs-gm .docs-dictionary-titlebar,
.docs-gm .docos-comments-pe .docos-streampane-header, .docs-gm .docos-comments-pe .docs-docos-activity-sidebar-header,
.docos-comments-pe.docs-docos-activity-sidebar,
.docos-comments-pe .docos-streampane-all-filtered-out-state, .docos-comments-pe .docos-streampane-zero-state,
.docs-grille-version-history.docs-revisions-sidebar,
.docs-grille-version-history .docs-revisions-sidebar-header,
.docs-grille-version-history .docs-revisions-sidebar-date-group,
.docs-grille-gm3 .jfk-tooltip,
.docs-explore-searchbar-labelinput:focus,
.docs-slidingdialog,
.docs-material-button-disabled.docs-material-button-flat-default, .docs-material-button-disabled.docs-material-button-flat-primary, .docs-material-button-disabled.docs-material-button-raised-default,
.app-switcher-button-icon-container,
.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background, .companion-theme-light .companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.docs-checkupdialog-overflow-menu .goog-menuitem.goog-menuitem-disabled,
.jfk-bubble,
.docs-grille-gm3 .docs-ui-toast,
.javascriptMaterialdesignGm3WizTabsPrimary-tab,
.javascriptMaterialdesignGm3WizMenuSurface-menu-surface,
.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__menu,
.ita-hwt-ime,
.ita-hwt-candidates,
.docs-bubble,
.docsContentLibrarySidebarContainer,
.apps-search-popup-menu,
.docs-tiled-sidebar,
.docs-gm .docs-tiled-sidebar-header,
.docs-gm .goog-zippy-expanded.docs-sidebar-tile-header,
.docs-gm .docs-sidebar-tile-controls
{
  background-color: var(--primary-background-color);
}

/*****************************************
* BACKGROUND: SECONDARY BACKGROUND COLOR *
******************************************/

.chapter-item-label-and-buttons-container-selected, .chapter-item-label-and-buttons-container-selected:focus-within,
.docs-grille-gm3.docs-gm .docs-material #docs-toolbar-wrapper,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher,
.docs-grille-gm3.docs-body-pageless #docs-align-palette, .docs-grille-gm3.docs-body-pageless #docs-align-palette .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3.docs-body-pageless .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3.docs-body-pageless .docs-toolbar-more-toolbar, .docs-grille-gm3.docs-body-pageless.docs-gm #docs-toolbar-wrapper,
.docs-grille-gm3.docs-gm.docs-body-pageless #docs-toolbar-mode-switcher,
.docs-grille-gm3 .docs-toolbar-more-toolbar, .docs-grille-gm3 .trix-palette,
.docs-grille-gm3 #docs-omnibox-toolbar .docs-omnibox-input,
.docs-grille-gm3 #docs-omnibox-toolbar.assisted-actions .docs-omnibox-input,
.miniChapterSwitcherCore .docs-material-gm-select-focused .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-focused .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused .miniChapterSwitcherNavigationEntryPointIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherCore .docs-material-gm-select .docs-material-gm-select-outer-box,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherNavigationEntryPointMask,
.docs-grille-version-history .docs-revisions-tile-selected,
.docs-gm .docs-grille-version-history.docs-revisions-filter-selector.goog-menu .goog-menuitem.goog-menuitem-highlight.goog-menuitem-active, .docs-gm .docs-grille-version-history.docs-revisions-filter-selector.goog-menu .goog-menuitem.goog-option-selected,
.docs-explore-searchbar-labelinput,
.docs-grille-gm3 #docs-align-palette,
.docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-button-active, .docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-active, .docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-open, .docs-gm .docs-material .goog-toolbar-button-active, .docs-gm .docs-material .goog-toolbar-button-checked, .docs-gm .docs-material .goog-toolbar-button-selected, .docs-gm .docs-material .goog-toolbar-combo-button-open, .docs-gm .docs-material .goog-toolbar-menu-button-open, .docs-gm .docs-material.trix-palette .goog-palette-cell-selected,
.docs-image-generation-example-gallery,
.imageGenerationStylePresetsMenu .imageGenerationStylePresetsMenuItemSelected, .imageGenerationStylePresetsMenu .imageGenerationStylePresetsMenuItemSelected.goog-menuitem-highlight,
.docs-material-button-hairline-default.docs-material-button
{
  background: var(--secondary-background-color);
}

.docs-grille-gm3 #docs-align-palette .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-menu-button, .docs-grille-gm3 .trix-palette .goog-toolbar-menu-button,
.docs-gm .docs-save-indicator-popup-header,
.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__option.mdc-list-item.mdc-list-item--selected,
.ita-hwt-buttons,
.ita-hwt-candidate-hover,
.ita-hwt-jfk-standard
{
  background-color: var(--secondary-background-color);
}

/****************************************
* BACKGROUND: TERTIARY BACKGROUND COLOR *
*****************************************/

.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button.goog-toolbar-button-checked, .docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-checked, .docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-selected, .docs-grille-gm3.docs-gm .trix-palette .goog-palette-cell-selected,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherMultipleChapters .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-active.miniChapterSwitcherMultipleChapters .miniChapterSwitcherNavigationEntryPointIcon,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button:focus, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button.goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button:focus,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-active, .docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-focused, .docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-open,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker .docs-thumbnailcontrol-checked .docs-thumbnailcontrol-thumbnailcontainer
{
  background-color: var(--tertiary-background-color);
}

/*************************************
* BACKGROUND: HOVER BACKGROUND COLOR *
**************************************/

.chapter-item-label-and-buttons-container-selected:has(.chapter-item-buttons:focus-within,.chapterItemArrowContainer:focus-within,.chapterItemIconAddButton:focus-within,.chapterItemIconEditButton:focus-within), .chapter-item-nested .chapter-item-label-and-buttons-container-selected, .navigation-widget-content:not(.chapter-item-dragged-within) .chapter-item-label-and-buttons-container-selected:hover:not(:focus-within),
.docs-gm .goog-menuitem-highlight,
.chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):has(.chapter-item-buttons:focus-within,.chapterItemArrowContainer:focus-within,.chapterItemIconAddButton:focus-within,.chapterItemIconEditButton:focus-within), .chapter-item-nested .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected), .navigation-widget-content:not(.chapter-item-dragged-within) .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):hover,
.kix-outlines-widget-header-add-chapter-button:not(.kix-outlines-widget-header-add-chapter-button-disabled) .jfk-button:focus, .kix-outlines-widget-header-add-chapter-button:not(.kix-outlines-widget-header-add-chapter-button-disabled) .jfk-button:hover,
.docs-floating-navigation-button-hover .docs-floating-navigation-button-outer-box, .navigation-widget-hat-close.goog-flat-button-hover .navigation-widget-hat-close-button-outer-box,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-hover .miniChapterSwitcherNavigationEntryPointMask,
.miniChapterSwitcherCore .docs-material-gm-select-hover .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-hover .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-hover .miniChapterSwitcherNavigationEntryPointIcon,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm .docs-toolbar-zoom-combobox.goog-toolbar-combo-button-hover,
#docs-revisions-appbarbutton.jfk-button-disabled:hover, #docs-revisions-appbarbutton.jfk-button-hover,
.docs-grille-gm3 .docs-material #docs-docos-commentsbutton.jfk-button.jfk-button-hover,
.docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-focused, .docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-hover, .docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-open,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-hover,
.ita-hwt-jfk-standard.ita-hwt-jfk-hover,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker .docs-thumbnailcontrol-hover .docs-thumbnailcontrol-thumbnailcontainer
{
  background: var(--hover-background-color);
}

.docs-grille-gm3 .docs-menubar .goog-control-hover, .docs-grille-gm3 .docs-menubar .goog-control-open,
.docs-sidebar-gm-titlebar-icon-button:hover,
.docs-gm .docs-grille-version-history.docs-revisions-filter-selector.goog-menu .goog-menuitem.goog-menuitem-highlight,
.docs-gm .docs-dialog .modal-dialog-title-close:hover,
.docs-grille-gm3 .docs-titlebar-badge .docs-save-indicator-icon:hover, .docs-grille-gm3 .docs-titlebar-badge:hover,
.docs-gm .docs-material .docs-toolbar-button-split-sympathy-hover, .docs-gm .docs-material .docs-toolbar-split-button-separator-wrapper, .docs-gm .docs-material .docs-toolbar-split-create-button, .docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-button-hover, .docs-gm .docs-material .docs-toolbar-split-create-button.goog-toolbar-menu-button-hover .docs-gm .docs-material.trix-palette .goog-palette-cell-hover, .docs-gm .docs-material .docs-toolbar-split-sl-button, .docs-gm .docs-material .goog-toolbar-button-hover, .docs-gm .docs-material .goog-toolbar-combo-button-hover, .docs-gm .docs-material .goog-toolbar-menu-button-hover,
.docs-material-button-hover.docs-material-button-flat-default,
.kix-spellcheck-with-explanation-bubble-option:hover,
.docs-gm .kix-spell-bubble-suggestion-text:hover,
.docs-gm .kix-spell-bubble-option:hover,
.docs-gm .docs-material-gm-dialog-title-close:hover,
.docos-comments-pe .docs-sidebar-gm-titlebar-icon-button.goog-flat-button-hover,
.docos-comments-pe .docos-search-button .docs-material-button-hover.docs-material-button-flat-default, .docos-comments-pe .docos-subscription-settings-button .docs-material-button-hover.docs-material-button-flat-default,
.imageGenerationStylePresetsMenu .imageGenerationStylePresetsMenuItem.goog-menuitem-highlight,
.kix-dropdown-item-selection-button.goog-flat-button-hover,
.kix-configure-dropdown-button.goog-flat-button-hover,
.docs-gm .goog-zippy-expanded.docs-sidebar-tile-header:focus, .docs-sidebar-tile-header-cursor:focus:not(.docs-sidebar-tile-header-no-focus), .docs-sidebar-tile-header-cursor:hover
{
  background-color: var(--hover-background-color);
}

/* ALSO AFFECTS TEXT BUTTONS */
.javascriptMaterialdesignGm3WizRipple-ripple:before
{
  background-color: var(--pre-opacity-hover-background-color);
}

.docs-checkupdialog-suggestion-button-focused.jfk-button-hover
{
  background: var(--hover-background-color) !important;
}

/***************************************************************
* BACKGROUND: SECONDARY HOVER BACKGROUND COLOR (FOCUSED, ACTIVE) *
****************************************************************/

.chapter-item-label-and-buttons-container-selected .chapter-overflow-menu-button:hover, .chapter-item-label-and-buttons-container-selected .chapterItemArrowContainer:hover,
.docs-grille-gm3 .docs-menubar .goog-control:hover:active, .docs-grille-gm3.docs-menubar .goog-control-active,
.docs-gm .goog-menuitem-active:hover:active,
.chapter-overflow-menu-button:hover, .chapterItemArrowContainer:hover,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-active .miniChapterSwitcherNavigationEntryPointMask, .miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-focused .miniChapterSwitcherNavigationEntryPointMask,
.miniChapterSwitcherCore .docs-material-gm-select-focused .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-focused .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused .miniChapterSwitcherNavigationEntryPointIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-focused.docs-material-gm-select-open .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherCore .docs-material-gm-select-active .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-active .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-active .miniChapterSwitcherNavigationEntryPointIcon, .miniChapterSwitcherCore .docs-material-gm-select-active.docs-material-gm-select-open .docs-material-gm-select-outer-box, .miniChapterSwitcherCore .docs-material-gm-select-active.docs-material-gm-select-open .miniChapterSwitcherChapterIcon, .miniChapterSwitcherCore .docs-material-gm-select-active.docs-material-gm-select-open .miniChapterSwitcherNavigationEntryPointIcon,
.miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-active .docs-material-gm-select-outer-box, .miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-active .miniChapterSwitcherChapterIcon, .miniChapterSwitcherContainerView.breadcrumbSwitcherUiVariant .miniChapterSwitcherCore .miniChapterSwitcherView.docs-material-gm-select-active .miniChapterSwitcherNavigationEntryPointIcon,
.docs-floating-navigation-button-active .docs-floating-navigation-button-outer-box, .docs-floating-navigation-button-focused .docs-floating-navigation-button-outer-box, .navigation-widget-hat-close.goog-flat-button-active .navigation-widget-hat-close-button-outer-box, .navigation-widget-hat-close.goog-flat-button-focused .navigation-widget-hat-close-button-outer-box,
.docs-sidebar-gm-titlebar-icon-button:focus,
.kix-spellcheck-with-explanation-bubble-option:focus
{
  background: var(--secondary-hover-background-color);
}

.docs-grille-gm3 #docs-star.docs-titlebar-badge:active, .docs-grille-gm3 .docs-titlebar-badge:active, .docs-grille-gm3 .docs-titlebar-badge:focus, .docs-grille-gm3 .goog-control-active .docs-titlebar-badge .docs-save-indicator-icon, .docs-grille-gm3 .goog-control-focused .docs-titlebar-badge .docs-save-indicator-icon,
.docs-gm .kix-spell-bubble-option:focus
{
  background-color: var(--secondary-hover-background-color);
}

/************************************
* BACKGROUND: MENU BACKGROUND COLOR *
*************************************/

.goog-menu {
  background: var(--menu-background);
}

/*************************************
* BACKGROUND: INPUT BACKGROUND COLOR *
**************************************/

.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button
{
  background: var(--input-background-color);
}

.javascriptMaterialdesignGm3WizTextFieldFilled-text-field--filled:not(.javascriptMaterialdesignGm3WizTextFieldFilled-text-field--disabled)
{
  background-color: var(--input-background-color);
}

/***************************************
 * BUTTONS *
 ***************************************/

.docs-gm .modal-dialog .jfk-button-standard, .docs-gm .modal-dialog button
{
  background: var(--dark-button-background-color);
}

.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover, .docs-gm .modal-dialog button:hover
{
  background: var(--dark-button-background-color-hover);
}

.docs-gm3-filled-button
{
  background: var(--accent-button-background-color);
}

.javascriptMaterialdesignGm3WizButtonProgressFilled-button,
.javascriptMaterialdesignGm3WizButtonFilledTonal-button,
.ita-hwt-jfk-action
{
  background-color: var(--accent-button-background-color);
}

.docs-gm3-filled-button.docs-gm3-button-hover
{
  background: var(--accent-button-hover-background-color);
}

.docs-gm3-filled-button.docs-gm3-button-active,
.docs-gm3-filled-button.docs-gm3-button-focused,
.ita-hwt-jfk-action.ita-hwt-jfk-hover
{
  background: var(--accent-button-hover-secondary-background-color);
}

.docs-gm3-text-button.docs-gm3-button-hover
{
  background: var(--text-button-background-color);
}

.docs-gm3-text-button.docs-gm3-button-focused
{
  background: var(--text-button-hover-secondary-background-color);
}

.docs-image-synthesis-sidebar .image-synthesis-creation-button.goog-button-disabled
{
  background: var(--disabled-button-background-color);
}


.javascriptMaterialdesignGm3WizButtonFilled-button:disabled
{
  background-color: var(--disabled-button-background-color);
}

.javascriptMaterialdesignGm3WizButtonFilled-button
{
  background-color: var(--accent-button-background-color);
}




.docs-gm .modal-dialog .jfk-button-standard, .docs-gm .modal-dialog button
{
  border-color: var(--dark-button-border-color) !important;
}

.docs-gm .modal-dialog .jfk-button-standard.jfk-button-hover, .docs-gm .modal-dialog button:hover
{
  border-color: var(--dark-button-border-color-hover) !important;
}

.docs-checkupdialog-suggestion-button-focused.jfk-button
{
  border-color: var(--accent-button-border-color)
}



.docs-material-gm-dialog-buttons .docs-gm3-button:focus-visible
{
  outline-color: var(--accent-button-background-color);
}


/*******************************
* BORDER-COLOR: PRIMARY BORDER *
********************************/

.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-separator.goog-inline-block,
.docs-material-gm-select-outer-box,
.ita-cp-charpicker .goog-char-picker-grid,
.ita-cp-search,
.ita-cp-hwt-hint,
.ita-cp-hwt,
.docs-gm .docs-offline-optinpromo.jfk-bubble, .docs-gm .docs-sync-indicator-popup.jfk-bubble, .docs-gm .modal-dialog, .docs-gm .modal-dialog.google-url-picker,
.docs-gm .docs-material-gm-dialog .goog-flat-menu-button, .docs-gm .kix-smart-controls-button-sidebar-edit-view-formatting-controls .goog-flat-menu-button, .docs-gm .kix-tablesidebar-control .goog-flat-menu-button, .docs-gm .modal-dialog .goog-flat-menu-button, .docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button,
.goog-palette-cell .docs-preview-palette-item,
.docs-body-pageless .docs-contentembedding-sidebar, .docs-hub .docs-contentembedding-sidebar,
.docs-body-pageless .kix-citations-sidebar, .docs-hub .kix-citations-sidebar,
.docs-body-pageless .docs-dictionary-sidebar, .docs-hub .docs-dictionary-sidebar,
.docos-comments-pe .docos-filter-settings .docs-material-menu-button-flat-default,
.docs-grille-version-history .docs-revisions-filter-selector .docs-material-gm-select-outer-box,
.docs-grille-version-history .docs-revisions-sidebar-actions,
.docs-gm .docs-findinput-container, .docs-gm .docs-gotoinput-container,
.docs-gm .docs-material-bubble .jfk-textinput, .docs-gm .docs-material-gm-dialog .jfk-textinput, .docs-gm .modal-dialog .jfk-textinput,
.docs-gm .goog-menu,
.docs-grille-gm3 .jfk-tooltip,
.docs-slidingdialog,
.docs-checkupdialog-content-container,
.docs-generativeai-onboarding-dialog-subtext,
.ita-hwt-ime-st,
.ita-hwt-jfk-standard,
.kix-equation-toolbar-palette-item,
.docs-bubble,
.docs-image-generation-example-gallery-expand-button,
.apps-search-popup-menu .docs-search-bar
{
  border-color: var(--primary-border-color);
}

.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button,
.docs-grille-gm3 #fontSizeSelect.docs-font-size-inc-dec-combobox.goog-toolbar-combo-button,
.docs-material-button-hairline-default.docs-material-button
{
  border-color: var(--primary-border-color) !important;
}

.javascriptMaterialdesignGm3WizTabsPrimary-tab-indicator .javascriptMaterialdesignGm3WizTabsPrimary-tab-indicator__content--underline,
.javascriptMaterialdesignGm3WizTabsPrimary-tab:active .javascriptMaterialdesignGm3WizTabsPrimary-tab-indicator__content--underline, .javascriptMaterialdesignGm3WizTabsPrimary-tab:hover .javascriptMaterialdesignGm3WizTabsPrimary-tab-indicator__content--underline
{
  border-color: var(--accent-text);
}

/****************************************
* BORDER-COLOR: HOVER BORDER *
*****************************/

.docs-grille-version-history .docs-revisions-filter-selector.docs-material-gm-select-hover .docs-material-gm-select-outer-box,
.ita-hwt-jfk-standard.ita-hwt-jfk-hover
{
  border-color: var(--hover-border-color);
}

.docs-grille-gm3 #fontSizeSelect.docs-font-size-inc-dec-combobox.goog-toolbar-combo-button-hover
{
  border-color: var(--hover-border-color) !important;
}

/*****************************************
* DIRECTIONAL BORDER COLORS *
******************************************/

.apps-hoverable-menu-separator-container .apps-hoverable-menu-separator-bottom,
.docs-vertical-ruler .docs-ruler-face-major-division, .docs-vertical-ruler .docs-ruler-face-minor-division,
.docs-gm .goog-menuseparator,
.ita-hwt-buttons,
.ita-hwt-candidates,
.kix-spellcheck-with-explanation-bubble .kix-spellcheck-with-explanation-bubble-action,
.docos-ssd-content hr
{
  border-top-color: var(--primary-border-color);
}

.documentMetricsDialogRow,
.kix-citations-sidebar-titlebar,
.kix-citations-create-view-search, .kix-citations-create-view-top, .kix-citations-list-view-top,
.kix-linenumbers-sidebar-titlebar,
.docs-gm .docs-dictionary-titlebar,
.goog-char-picker-grid .goog-flat-button,
.docs-contentembedding-titlebar,
.docs-horizontal-ruler,
.docos-comments-pe.docs-docos-activity-sidebar .docos-streampane-header,
.goog-menuitem.docs-submenuitem,
.docs-checkupdialog-header,
.javascriptMaterialdesignGm3WizTabsPrimary-tab-bar.javascriptMaterialdesignGm3WizTabsPrimary-tab-bar,
.docs-material #docs-equationtoolbar,
.docs-gm .docs-tiled-sidebar-header
{
  border-bottom-color: var(--primary-border-color);
}

.goog-char-picker-grid .goog-flat-button,
.docs-vertical-ruler,
.ita-hwt-candidate
{
  border-right-color: var(--primary-border-color);
}

.docs-horizontal-ruler .docs-ruler-face-major-division, .docs-horizontal-ruler .docs-ruler-face-minor-division
{
  border-left-color: var(--primary-border-color);
}

.jfk-bubble-arrowleft .jfk-bubble-arrowimplbefore, .jfk-bubble-arrowright .jfk-bubble-arrowimplbefore {
  border-color: transparent var(--root-background-color);
}

/******************************************
* EXPLICIT BORDERS *
*******************************************/

.jfk-bubble,
.docs-gm .docs-save-indicator-popup.jfk-bubble
{
  border: 1px solid var(--primary-border-color);
}

.docs-explore-searchbar-labelinput,
.docs-explore-searchbar-labelinput:focus
{
  border-bottom: 1px solid var(--primary-border-color);
}

/******************************************
 * BOX-SHADOW *
  ******************************************/

.docs-gm .goog-menu,
.docs-gm .docs-offline-optinpromo.jfk-bubble, .docs-gm .docs-sync-indicator-popup.jfk-bubble, .docs-gm .modal-dialog, .docs-gm .modal-dialog.google-url-picker,
.kixChaptersOnboardingPromo,
.jfk-bubble,
.docs-checkupdialog-content-container,
.companion-collapser-button.app-switcher-button-checked .app-switcher-button-icon-background,
.docs-gm .docs-ui-toast,
.javascriptMaterialdesignGm3WizElevation-elevation:before,
.ita-hwt-ime-st,
.docs-bubble,
.apps-search-popup-menu
{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);
}

.docs-explore-searchbar-labelinput,
.docs-explore-searchbar-labelinput:focus,
.goog-palette-cell-selected .docs-preview-palette-item
{
  box-shadow: none;
}

/** COLOR SVG ICONS **/

.premiumFeatureDialogTitleIcon > svg > path {
  fill: var(--primary-text-color);
}

.pageSetupDialogStaticSvg > svg > rect:first-child
{
  fill: var(--secondary-background-color);
}

/* OVERRIDE ELEVATION */

.javascriptMaterialdesignGm3WizElevation-elevation__overlay {
  background-color: transparent;
}

/** INVERT BACKGROUND IMAGE **/

.ita-cp-backspace-img.ita-kd-img
{
  filter: invert(1);
}

/** OVERRIDE SELECTED INDICATOR (ORIGINALLY USING BOX SHADOW) **/

.goog-palette-cell-selected .docs-preview-palette-item {
  background: var(--secondary-background-color);
}

/** FIX TITLE INPUT */

.docs-title-input-label {
  visibility: visible !important;
}

.docs-title-input {
  background-color: transparent !important;
  color: transparent !important;
}

/* BORDER RADIUS */

.docs-checkupdialog-content-container,
.docs-gm .docs-save-indicator-popup.jfk-bubble,
.ita-hwt-ime-st,
.ita-hwt-jfk-standard,
.ita-hwt-jfk
{
  border-radius: 8px;
}

img.docs-generativeai-onboarding-dialog-image,
.pageSetupDialogStaticSvg > svg
{
  border-radius: 16px;
}

/* GM3 VARIABLES */

/* CHECKBOXES */

.javascriptMaterialdesignGm3WizCheckbox-checkbox__background
{
  border-color: var(--input-border-color);
}

.javascriptMaterialdesignGm3WizCheckbox-checkbox__native-control:hover~.javascriptMaterialdesignGm3WizCheckbox-checkbox__background,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__leading, .javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__notch, .javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled):not(.mdc-select--focused) .mdc-select__anchor:hover .mdc-notched-outline .mdc-notched-outline__trailing,
.javascriptMaterialdesignGm3WizButtonDropdownOutlined-button:hover
{
  border-color: var(--input-hover-border-color);
}

/* STROKE (DOCUMENT DETAILS LOADING CIRCLE) */

.javascriptMaterialdesignGm3WizCircularProgress-circular-progress__track
{
  stroke: var(--secondary-background-color);
}

.appsElementsColorPicker-color-picker__preview-swatch
{
  stroke: var(--input-border-color);
}

/* NOT EXACTLY INPUT BUT ARE BUTTONS */

.javascriptMaterialdesignGm3WizButtonOutlined-button
{
  border-color: var(--input-border-color);
}

.javascriptMaterialdesignGm3WizButtonOutlined-button:hover
{
  border-color: var(--input-hover-border-color);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled)
{
  --gm3-notched-outline-border-color: var(--input-border-color);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled):not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused):hover
{
  --gm3-notched-outline-border-color: var(--input-hover-border-color);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled).javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused
{
  --gm3-notched-outline-border-color: var(--input-accent-border-color);
}

/* DISABLE ELEVATION COLOR CHANGE */

.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__menu .mdc-elevation-overlay
{
  background-color: transparent;
}

.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__menu .mdc-elevation-overlay
{
  opacity: 0;
}

/* DISABLE BACKGROUND IMAGE FOR HANDWRITTEN INPUT SPACEBAR */

.ita-hwt-jfk-standard,
.ita-hwt-jfk-action
{
  background-image: none;
}