:root {
  --root-background-color: #1A1A1A;
  --primary-background-color: #262626;
  --secondary-background-color: #333333;
  --tertiary-background-color: #404040;
  --quaternary-background-color: #4D4D4D;
  --background-color-5: #595959;

  --hover-background-color: #FFFFFF1a;
  --secondary-hover-background-color: #FFFFFF1e;

  /* buttons */
  --button-background-color: #4d4d4d;
  --button-background-color-hover: #2196f3;
  --button-background-color-focus: #2196f3;
  --button-two-background-color: #262626;
  --button-two-background-color-hover: #333333;

  --selected-background-color: #808080;
  --selection-background-color: #999999;

  --primary-border-color: #4d4d4d;
  --secondary-border-color: #404040;

  --primary-text-color: #f2f2f2;
  --secondary-text-color: #cccccc;
  --tertiary-text-color: #999999;
  --disabled-text: #666666;
  
  --accent-color: hsl(var(--docsafterdark-accent-hue), 25%, 50%);
  --accent-hover-color: hsla(var(--docsafterdark-accent-hue), 25%, 50%, 0.5);
  --dark-accent-color: hsl(var(--docsafterdark-accent-hue), 25%, 25%);
  --light-accent-color: hsla(var(--docsafterdark-accent-hue), 25%, 60%, 0.10);
  --light-accent-hover-color: hsla(var(--docsafterdark-accent-hue), 25%, 40%, 0.20);
}

body,
label,
button,
input
{
  font-size: 14px;
}

body {
  background-color: var(--root-background-color);
  color: var(--primary-text-color);
  font-family: Arial, Helvetica, sans-serif;
  width: 300px;
  padding-bottom: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 16px;
  margin-bottom: 12px;
}

h1 {
  font-size: 1em;
  margin: 0;
  color: var(--primary-text-color);
  font-weight: normal;
}

button {
  background-color: transparent;
  color: var(--primary-text-color);
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  transition: opacity 0.1s ease-out, background-color 0.1s ease-out;
  border-radius: 4px;
}

button:hover {
  background-color: var(--hover-background-color);
}

button.selected {
  background-color: var(--accent-color);
}

button:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

label {
  font-family: inherit;
  cursor: pointer;
  user-select: none;
}

input {
  width: 100%;
  background-color: var(--root-background-color);
  color: var(--primary-text-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 4px 8px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  width: fit-content;
  margin: 0;
  margin-right: 4px;
}

input[type="checkbox"]:disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

input[type="checkbox"]:disabled+label {
  opacity: 0.25;
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

hr {
  border: 0;
  border-top: 1px solid var(--primary-border-color);
  margin: 12px 0;
}

footer {
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**********************/
/* NON-ELEMENT STYLES */
/**********************/

#main {
  margin: 0 auto;
  padding: 0 12px;
}

#tip_button {
  opacity: 0.25;
  width: 24px;
  height: 24px;

  transition: opacity 0.1s ease-out;
}

#tip_button:hover {
  opacity: 0.5;
}

#tip_container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
}

#tip {
  background-color: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.20);

  color: var(--primary-text-color);
  padding: 12px;
  border-radius: 8px;
  font-size: 12px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
}

#tip p {
  margin: 0;
}

#tip svg {
  width: 24px;
  height: 24px;
  fill: var(--accent-color);
}

.option_section {
  margin-bottom: 12px;
}

.option_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_label
{
  color: var(--tertiary-text-color);
  margin: 0px;
  margin-bottom: 8px;
}

.button_row {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--primary-border-color);
  width: fit-content;
  border-radius: 4px;
}

.option_row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.option_bordered {
  background: var(--primary-background-color);
  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  padding: 8px;
}

.input {
  height: 100%;
}

.accent_button.selected {
  background-color: var(--accent-color);
}

.hidden {
  display: none;
}

button#save_custom {
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

button#save_custom:hover {
  background-color: var(--accent-color);
}

#custom_input {
  margin-top: 8px;
}

#version {
  color: var(--tertiary-text-color);
  margin: 0;
}

#donate {
  text-align: right;
  color: var(--tertiary-text-color);
  /* button-like */
  background-color: var(--secondary-background-color);
  box-sizing: border-box;
  border: none;
  padding: 4px 8px;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}

#donate:hover
{
  background-color: var(--accent-color);
  color: var(--primary-text-color);
}

#spectrum_container
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 8px;
}

#spectrum_bar
{
  height: 16px;
  width: 100%;
  background: linear-gradient(to right, red, yellow, lime, aqua, blue, magenta, red);
  border-radius: 4px;
  box-sizing: border-box;
  
  display: flex;
  align-items: center;
}

#spectrum_input
{
  width: 48px;
}

#spectrum_knob {
  position: relative;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: 4px solid #fff;
  box-sizing: border-box;
}

#spectrum_reset {
  background-color: #E61717;
  border-radius: 4px;
}

#spectrum_save {
  background-color: #3c3c3c;
  border-radius: 4px;
  margin-right: 4px;
}

.checkbox_row {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: fit-content;

  border: 1px solid var(--primary-border-color);
  border-radius: 4px;
  height: 24px;

  overflow: hidden;
}

.checkbox_row input[type="checkbox"] {
  display: none;
}

.checkbox_row input[type="checkbox"]+label {
  cursor: pointer;

  padding: 0 8px;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.1s ease-out, background-color 0.1s ease-out;

  cursor: pointer;
  user-select: none;

  /* color: var(--secondary-text-color); */
}

.checkbox_row .input:not(:last-child) input[type="checkbox"]+label {
  border-right: 1px solid var(--primary-border-color);
}

.checkbox_row input[type="checkbox"]:checked+label {
  background-color: var(--tertiary-background-color);
  /* color: var(--accent-color); */
  color: var(--primary-text-color);
}

.checkbox_row input[type="checkbox"]:not(:checked):hover+label {
  background-color: var(--hover-background-color);
}

.checkbox_row input[type="checkbox"]:disabled+label {
  opacity: 0.25;
  cursor: not-allowed;
}

/*******************/
/* CUSTOM CHECKBOX */
/*******************/

.checkbox_container {
  display: flex;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding-left: 20px;

  transition: opacity 0.1s ease-out;
}

.checkbox_container.disabled {
  opacity: 0.25;
  cursor: not-allowed;
}

.checkbox_container input {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
  cursor: pointer;
}

.checkbox_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;

  transition: background-color 0.1s ease-out;
}

.checkbox_container:not(.disabled):hover input+.checkbox_checkmark {
  background-color: var(--accent-hover-color);
}

.checkbox_container input:checked+.checkbox_checkmark {
  background-color: var(--accent-color);
}

.checkbox_checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked+.checkbox_checkmark:after {
  display: block;
}

.checkbox_container .checkbox_checkmark:after {
  left: 5px;
  top: 1px;
  width: 3px;
  height: 8px;
  border: solid var(--primary-text-color);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#debug_section button {
  background-color: var(--secondary-background-color);
}

#debug_section input {
  width: 100%;
}

#debug_section #debug_clear {
  background-color: #E61717;
  border-radius: 4px;
}

#debug_section #debug_clear:hover {
  background-color: #ff0000;
}

/*******************/
/* CHROME-ONLY CSS */
/*******************/

#document_background_section {
  display: none;
}