* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;

    color: var(--primary-text-color);
    background-color: var(--root-background-color);

    width: 310px;
}

h1 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 1rem;

    #tipButton {
        width: 1.75rem;
        height: 1.75rem;

        // expand the hover area of button
        padding: 0.25rem;
        margin: -0.25rem;

        opacity: 0.5;
        transition: opacity 0.1s ease-out;

        cursor: help;

        &:hover {
            opacity: 1;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 0;
    border-top: 1px solid var(--primary-border-color);
    margin: 0.5rem 0;
}

main {
    padding: 0.5rem;
}

span {
    &.lighter {
        opacity: 0.5;
    }
}

button,
.button {
    color: var(--primary-text-color);
    text-decoration: none;

    padding: 0.25rem 0.5rem;

    border: none;
    background-color: transparent;

    cursor: pointer;

    transition:
        opacity 0.1s ease-out,
        background-color 0.1s ease-out;

    &:hover {
        background-color: var(--hover-background-color);
    }

    &.selected {
        background-color: var(--accent-color);
    }

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    &.rounded {
        border-radius: 0.5rem;
    }

    &.accented {
        background-color: var(--secondary-background-color);

        &:hover {
            background-color: var(--accent-color);
        }
    }
}

label {
    font-family: inherit;
    cursor: pointer;
    user-select: none;
}

input {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    padding: 0.25rem 0.5rem;
    box-sizing: border-box;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    // Firefox
    &[type="number"] {
        appearance: textfield;
    }
}

#tipContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    padding: 0.5rem;

    box-sizing: border-box;

    .content {
        background-color: var(--primary-background-color);
        color: var(--primary-text-color);

        border: 1px solid var(--primary-border-color);

        box-shadow:
            0 14px 28px rgb(0 0 0 / 25%),
            0 10px 10px rgb(0 0 0 / 20%);

        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;

        display: flex;
        flex-direction: row;
        align-items: start;

        .message {
            flex: 1;

            p {
                margin: 0;
                padding: 0;

                line-height: 1.25;
            }
        }

        .icon {
            margin-right: 0.5rem;

            svg {
                width: 1.25rem;
                height: 1.25rem;

                fill: var(--accent-color);
            }
        }
    }
}

.section {
    margin-bottom: 1.125rem;

    .sectionLabel {
        color: var(--tertiary-text-color);
        margin: 0;
        margin-bottom: 0.5rem;
    }

    .sectionControls {
        > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .checkboxRow:not(:last-child) {
            margin-bottom: 0.675rem;
        }
    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    width: fit-content;
    max-width: 100%;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    overflow: hidden;

    &.fullWidth {
        width: 100%;

        button {
            padding-left: 0;
            padding-right: 0;
        }
    }

    button {
        flex: 1;

        border-radius: 0.5rem;

        // &:not(:last-child) {
        //     border-right: 1px solid var(--primary-border-color);
        // }
    }
}

.checkboxRow {
    > * {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .checkboxButton {
        // padding: 0.25rem 0.5rem;
        display: inline-flex;

        // border: 1px solid var(--primary-border-color);
        border-radius: 0.5rem;

        overflow: hidden;

        background-color: var(--primary-background-color);
        color: var(--primary-text-color);

        cursor: pointer;
        transition: opacity 0.75s cubic-bezier(0, 1, 0, 1);

        // > *:not(:last-child) {
        //     border-right: 1px solid var(--primary-border-color);
        // }

        &:not(.disabled):hover {
            background-color: var(--secondary-background-color);

            .checkbox {
                background-color: var(--tertiary-background-color);
            }

            // .content {
            //     background-color: var(--secondary-background-color);
            // }
        }

        &.disabled {
            opacity: 0.25;
            cursor: not-allowed;
        }

        .checkbox {
            position: relative;

            height: 1.5rem;
            width: 1.5rem;

            border-radius: 0.5rem;

            background-color: var(--secondary-background-color);

            transition: background-color 0.1s ease-out;

            &::after {
                content: "";
                position: absolute;

                opacity: 0;

                left: 0.43rem;
                top: 0.25rem;

                height: 0.6rem;
                width: 0.3rem;

                border: solid var(--primary-text-color);
                border-width: 0 4px 4px 0;

                transform: rotate(45deg);

                transition:
                    top 1s cubic-bezier(0, 1, 0, 1),
                    opacity 0.75s cubic-bezier(0, 1, 0, 1);
            }
        }

        input[type="checkbox"] {
            position: absolute;

            height: 0;
            width: 0;

            opacity: 0;

            &:checked {
                & + .checkbox {
                    background-color: var(--accent-color);

                    &::after {
                        top: 0.17rem;
                        opacity: 1;
                    }

                    // & + .content {
                    //     background-color: var(--secondary-background-color);
                    // }
                }
            }
        }

        .content {
            display: flex;
            align-items: center;
            justify-content: center;

            padding: 0 0.5rem;

            // background-color: var(--primary-background-color);
        }
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .expand {
        flex: 1;
    }
}

footer {
    #version {
        color: var(--tertiary-text-color);
        margin: 0;
    }
}

#spectrum {
    display: flex;
    flex-direction: row;
    align-items: center;

    #spectrumBar {
        display: flex;
        align-items: center;

        height: 1rem;
        width: 100%;

        margin-right: 0.5rem;

        background: linear-gradient(
            to right,
            red,
            yellow,
            lime,
            aqua,
            blue,
            magenta,
            red
        );

        border-radius: 0.25rem;
        cursor: pointer;

        #spectrumKnob {
            position: relative;

            height: 1.5rem;
            width: 1.5rem;

            border-radius: 50%;
            background-color: transparent;
            border: 0.25rem solid #fff;
        }
    }
}

.hidden {
    display: none;
}

#github {
    padding: 0.25rem;

    svg {
        display: block;
        height: 1rem;
    }
}
