* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    color: var(--primary-text-color);
    background-color: var(--root-background-color);

    width: 310px;
}

h1 {
    font-size: 1rem;
    font-weight: normal;
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 0.5rem;

    #tipButton {
        width: 1.75rem;
        height: 1.75rem;

        // expand the hover area of button
        padding: 0.25rem;
        margin: -0.25rem;

        opacity: 0.5;
        transition: opacity 0.1s ease-out;

        cursor: help;

        &:hover {
            opacity: 1;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 0;
    border-top: 1px solid var(--primary-border-color);
    margin: 0.5rem 0;
}

main {
    padding: 0.5rem;
}

button,
.button {
    color: var(--primary-text-color);
    text-decoration: none;

    padding: 0.25rem 0.5rem;

    border: none;
    background-color: transparent;

    cursor: pointer;

    transition:
        opacity 0.1s ease-out,
        background-color 0.1s ease-out;

    &:hover {
        background-color: var(--hover-background-color);
    }

    &.selected {
        background-color: var(--accent-color);
    }

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    &.rounded {
        border-radius: 0.5rem;
    }

    &.accented {
        background-color: var(--secondary-background-color);

        &:hover {
            background-color: var(--accent-color);
        }
    }
}

label {
    font-family: inherit;
    cursor: pointer;
    user-select: none;
}

input {
    background-color: var(--root-background-color);
    color: var(--primary-text-color);

    padding: 0.25rem 0.5rem;
    box-sizing: border-box;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    // Chrome, Safari, Edge, Opera
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // Firefox
    &[type="number"] {
        -moz-appearance: textfield;
    }
}

#tipContainer {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;

    padding: 0.5rem;

    box-sizing: border-box;

    .content {
        background-color: var(--primary-background-color);
        color: var(--primary-text-color);

        border: 1px solid var(--primary-border-color);

        box-shadow:
            0 14px 28px rgba(0, 0, 0, 0.25),
            0 10px 10px rgba(0, 0, 0, 0.2);

        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;

        display: flex;
        flex-direction: row;
        align-items: start;

        .message {
            flex: 1;

            p {
                margin: 0;
                padding: 0;

                line-height: 1.25;
            }
        }

        .icon {
            margin-right: 0.5rem;

            svg {
                width: 1.25rem;
                height: 1.25rem;

                fill: var(--accent-color);
            }
        }
    }
}

.section {
    margin-bottom: 0.5rem;

    .sectionLabel {
        color: var(--tertiary-text-color);
        margin: 0px;
        margin-bottom: 0.5rem;
    }

    .sectionControls {
        > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }

        .checkboxRow:not(:last-child) {
            margin-bottom: 0.75rem;
        }
    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    width: fit-content;
    max-width: 100%;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    overflow: hidden;

    &.fullWidth {
        width: 100%;

        button {
            padding-left: 0;
            padding-right: 0;
        }
    }

    button {
        flex: 1;

        &:not(:last-child) {
            border-right: 1px solid var(--primary-border-color);
        }
    }
}

.checkboxRow {
    > * {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

.flexRow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

    .expand {
        flex: 1;
    }
}

footer {
    #version {
        color: var(--tertiary-text-color);
        margin: 0;
    }
}

#spectrum {
    display: flex;
    flex-direction: row;
    align-items: center;

    #spectrumBar {
        display: flex;
        align-items: center;

        height: 1rem;
        width: 100%;

        margin-right: 0.5rem;

        background: linear-gradient(
            to right,
            red,
            yellow,
            lime,
            aqua,
            blue,
            magenta,
            red
        );

        border-radius: 0.25rem;
        cursor: pointer;

        #spectrumKnob {
            position: relative;

            height: 1.5rem;
            width: 1.5rem;

            border-radius: 50%;
            background-color: transparent;
            border: 0.25rem solid #fff;
        }
    }
}

label {
    display: flex;
    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding-left: 1.25rem;
    transition: opacity 0.1s ease-out;

    cursor: pointer;

    &.disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    input {
        position: absolute;

        height: 0;
        width: 0;

        opacity: 0;
        cursor: pointer;

        &:checked + div.checkbox {
            background-color: var(--accent-color);

            &:after {
                display: block;
            }
        }
    }

    &:not(.disabled):hover input + div.checkbox {
        background-color: var(--accent-hover-color);
    }

    div.checkbox:after {
        left: 5px;
        top: 1px;

        width: 3px;
        height: 8px;

        border: solid var(--primary-text-color);
        border-width: 0 3px 3px 0;

        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

div.checkbox {
    position: absolute;
    top: 0;
    left: 0;

    height: 16px;
    width: 16px;

    background-color: var(--tertiary-background-color);

    border-radius: 0.25rem;

    transition: background-color 0.1s ease-out;

    &:after {
        content: "";
        position: absolute;
        display: none;
    }
}

.hidden {
    display: none;
}

#github {
    padding: 0.25rem;

    svg {
        display: block;
        height: 1rem;
    }
}
