// via: https://gwfh.mranftl.com/fonts/google-sans?subsets=latin

/* google-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url("assets/fonts/google-sans-v67-latin-regular.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("assets/fonts/google-sans-v67-latin-regular.ttf")
            format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* google-sans-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Google Sans";
    font-style: normal;
    font-weight: 500;
    src:
        url("assets/fonts/google-sans-v67-latin-500.woff2") format("woff2"),
        /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
            url("assets/fonts/google-sans-v67-latin-500.ttf") format("truetype"); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    font-family:
        "Google Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 14px;
}

body {
    color: var(--primary-text-color);
    background-color: var(--root-background-color);

    width: fit-content;
}

.scrollContent {
    // Avoid the scrollbar covering content
    margin: 0 -0.5rem;
    padding: 0 0.5rem;

    max-height: 500px;
    overflow-y: scroll;
}

h1 {
    font-size: 1.25em;
    font-weight: 600;
    letter-spacing: -0.01rem;
    color: var(--primary-text-color);

    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 500;

    margin: 0;
    margin-bottom: 0.375rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 0.75rem;

    #tipButton {
        width: 1.75rem;
        height: 1.75rem;

        // expand the hover area of button
        padding: 0.25rem;
        margin: -0.25rem;

        opacity: 0.5;
        transition: opacity 0.1s ease-out;

        cursor: help;

        &:hover {
            opacity: 1;
        }
    }
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    border: 0;
    border-top: 1px solid var(--primary-border-color);
    margin: 0.5rem 0;
}

main {
    padding: 0.5rem;
}

span {
    &.lighter {
        opacity: 0.5;
    }
}

button,
.button {
    font-size: 1rem;
    font-family: inherit;
    color: var(--primary-text-color);
    text-decoration: none;

    padding: 0.25rem 0.5rem;

    border: none;

    background-color: transparent;

    transition: all 1s cubic-bezier(0, 1, 0, 1);

    cursor: pointer;

    &:hover {
        background-color: var(--hover-background-color);
    }

    &.selected {
        background-color: var(--accent-color);
    }

    &:disabled {
        opacity: 0.1;
        cursor: not-allowed;
    }

    &.rounded {
        border-radius: 0.5rem;
    }

    &.accented {
        background-color: var(--secondary-background-color);

        &:hover {
            background-color: var(--accent-color);
        }
    }
}

label {
    font-family: inherit;
    cursor: pointer;
    user-select: none;
}

input {
    font-size: 1rem;
    font-family: inherit;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    padding: 0.25rem 0.5rem;
    box-sizing: border-box;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.25rem;

    &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
    }

    // Firefox
    &[type="number"] {
        appearance: textfield;
    }
}

#tipContainer {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    padding: 0.5rem;

    box-sizing: border-box;

    .content {
        background-color: var(--primary-background-color);
        color: var(--primary-text-color);

        border: 1px solid var(--primary-border-color);

        box-shadow:
            0 14px 28px rgb(0 0 0 / 25%),
            0 10px 10px rgb(0 0 0 / 20%);

        padding: 0.75rem;
        border-radius: 0.5rem;
        font-size: 1rem;

        display: flex;
        flex-direction: row;
        align-items: start;

        .message {
            flex: 1;

            p {
                margin: 0;
                padding: 0;

                line-height: 1.25;
            }
        }

        .icon {
            margin-right: 0.5rem;

            svg {
                width: 1.25rem;
                height: 1.25rem;

                fill: var(--accent-color);
            }
        }
    }
}

.category {
    .categoryHeader {
        width: fit-content;

        margin: 0;
        margin-bottom: 0.5rem;

        .categoryTitle {
            margin: 0;
        }
    }

    &.toggleCategory {
        .categoryTitle {
            margin-right: 0.25rem;
        }

        .upArrow,
        .downArrow {
            opacity: 0.5;
        }

        .upArrow,
        .categoryContent {
            display: none;
        }

        .downArrow {
            display: block;
        }

        .categoryContent {
            padding-left: 1rem;

            border-left: 0.25rem solid var(--primary-border-color);
        }

        &.expanded {
            .upArrow,
            .categoryContent {
                display: block;
            }

            .downArrow {
                display: none;
            }
        }
    }
}

#advancedCategory {
    .categoryHeader {
        opacity: 0.25;

        cursor: pointer;

        transition: all 1s cubic-bezier(0, 1, 0, 1);

        &:hover {
            opacity: 1;
        }
    }

    &.expanded {
        .categoryHeader {
            opacity: 1;
        }
    }
}

.section {
    margin-bottom: 1rem;

    .sectionTitle {
        color: var(--tertiary-text-color);

        margin: 0;
        margin-bottom: 0.5rem;
    }

    .sectionContent {
        > *:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.buttonRow {
    display: flex;
    flex-direction: row;

    width: fit-content;
    max-width: 100%;

    border: 1px solid var(--primary-border-color);
    border-radius: 0.25rem;

    overflow: hidden;

    transition: opacity 1s cubic-bezier(0, 1, 0, 1);

    &.multiSelect {
        border-radius: 999px;

        button {
            border-radius: 0;

            &:not(:last-child) {
                border-right: 1px solid var(--primary-border-color);
            }
        }
    }

    button {
        &:not(.selected) {
            color: var(--tertiary-text-color);
        }
    }

    &.disabled {
        button {
            &:disabled {
                // Do not change if container is disabled already
                opacity: 1;
            }
        }
    }
}

.checkboxRow {
    > * {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 0.5rem;
        }
    }
}

// Anything that has the disabled class
.disabled {
    opacity: 0.25;
    cursor: not-allowed;
}

.checkboxButton {
    // padding: 0.25rem 0.5rem;
    display: inline-flex;

    // border: 1px solid var(--primary-border-color);
    border-radius: 0.5rem;

    overflow: hidden;

    // background-color: var(--primary-background-color);
    color: var(--primary-text-color);

    cursor: pointer;
    transition: opacity 0.75s cubic-bezier(0, 1, 0, 1);

    // > *:not(:last-child) {
    //     border-right: 1px solid var(--primary-border-color);
    // }

    &:not(.disabled):hover {
        // background-color: var(--secondary-background-color);

        .checkbox {
            background-color: var(--tertiary-background-color);
        }

        // .content {
        //     background-color: var(--secondary-background-color);
        // }
    }

    .checkbox {
        position: relative;

        height: 1.5rem;
        width: 1.5rem;

        border-radius: 0.5rem;

        background-color: var(--secondary-background-color);

        transition: background-color 0.1s ease-out;

        &::after {
            content: "";
            position: absolute;

            opacity: 0;

            left: 0.475rem;
            top: 0.5rem;

            height: 0.6rem;
            width: 0.3rem;

            border: solid var(--primary-text-color);
            border-width: 0 3px 3px 0;

            transform: rotate(45deg);

            transition:
                top 1s cubic-bezier(0, 1, 0, 1),
                opacity 0.5s cubic-bezier(0, 1, 0, 1);
        }
    }

    input[type="checkbox"] {
        position: absolute;

        height: 0;
        width: 0;

        opacity: 0;

        &:checked {
            & + .checkbox {
                background-color: var(--accent-color);

                &::after {
                    top: 0.225rem;
                    opacity: 1;
                }

                // & + .content {
                //     background-color: var(--secondary-background-color);
                // }
            }
        }
    }

    .content {
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 0 0.5rem;

        // background-color: var(--primary-background-color);
    }
}

.flexRow {
    display: flex;
    flex-direction: row;

    &.gap {
        gap: 0.5rem;
    }

    &.vCenter {
        align-items: center;
    }

    &.hCenter {
        justify-content: center;
    }

    &.spaceBetween {
        justify-content: space-between;
    }

    .expand {
        flex: 1;
    }
}

footer {
    #version {
        color: var(--tertiary-text-color);
        margin: 0;
    }
}

#spectrum {
    display: flex;
    flex-direction: row;
    align-items: center;

    #spectrumBar {
        display: flex;
        align-items: center;

        height: 1.25rem;
        width: 100%;

        margin-right: 0.5rem;

        background: linear-gradient(
            to right,
            red,
            yellow,
            lime,
            aqua,
            blue,
            magenta,
            red
        );

        border-radius: 0.25rem;
        cursor: pointer;

        #spectrumKnob {
            position: relative;

            height: 1.75rem;
            width: 1.75rem;

            border-radius: 50%;
            background-color: transparent;
            border: 0.25rem solid #fff;
        }
    }

    #spectrumInput {
        width: 3rem;
    }
}

.hidden {
    display: none;
}

#donate {
    opacity: 0.75;

    &:hover {
        opacity: 1;
    }
}

#github {
    padding: 0.25rem;

    svg {
        display: block;
        height: 1.25rem;
    }
}
