.hidden {
    display: none !important;
}

.disabled {
    opacity: 0.25;
    cursor: not-allowed;
    pointer-events: none;
}

.flexRow {
    display: flex;
    flex-direction: row;

    &.gap {
        gap: 0.5rem;
    }

    &.vCenter {
        align-items: center;
    }

    &.hCenter {
        justify-content: center;
    }

    &.spaceBetween {
        justify-content: space-between;
    }

    .expand {
        flex: 1;
    }
}
