// NOTE: Rules in this file are only for reference and are not included.

////////////////////////////////////////
// BACKGROUND: INPUT BACKGROUND COLOR //
////////////////////////////////////////

.smart-canvas-time-selection-combo-box-container .goog-combo-button-input,
.smart-canvas-date-picker-bubble-time-zone-selection-button,
.smart-canvas-date-details-bubble-edit-field.smart-canvas-date-details-bubble-edit-field-gm3,
.smart-canvas-date-details-bubble-time-zone-edit-field {
    background: var(--input-background-color);
}

///////////////////////////////////////////////////
// DIRECTIONAL BORDER COLORS: HOVER BORDER COLOR //
///////////////////////////////////////////////////

.docs-number-input-container input:hover {
    border-bottom-color: var(--hover-border-color);
}

///////////////////
// MEDIA QUERIES //
///////////////////

@media screen and (width <= 1600px) {
    .docs-grille-gm3
        #docs-omnibox-toolbar.assisted-actions
        .docs-omnibox-input:focus-within {
        background: var(--background-color-1);
    }
}

///////////////////
// MISCELLANEOUS //
///////////////////

.ita-cp-backspace-img.ita-kd-img,
.kix-equation-toolbar-icon {
    filter: invert(1);
}

.docs-material-slider-track-off {
    background-color: var(--input-border-color);
}

.appsElementsColorPicker-color-picker__preview-swatch {
    stroke: var(--input-border-color);
}

// DISABLE ELEVATION COLOR CHANGE

.javascriptMaterialdesignGm3WizSelectOutlinedEl
    .mdc-select__menu
    .mdc-elevation-overlay {
    opacity: 0;
}

// DISABLE BACKGROUND IMAGE FOR HANDWRITTEN INPUT SPACEBAR

.ita-hwt-jfk-standard,
.ita-hwt-jfk-action {
    background-image: none;
}

// TRANSPARENT BACKGROUND COLOR

.docsLinkSmartinsertlinkBubble {
    border: none;
}

// REPLACE ICON (TURN OFF FOR THEMES)

.goog-option-selected {
    background-image: var(--checkmark);
}

// POSSIBLY TEMPORARY SELECTORS ON ACCESS REQUEST PAGE

.hA3Ymb {
    color: var(--primary-text-color);
}

.JsJznb,
.VY1pEb,
.i5S8cc {
    color: var(--secondary-text-color);
}

.Q0zAz {
    fill: var(--secondary-text-color);
}

.BOpCwe {
    color: var(--tertiary-text-color);
}

/////////////////////////
// DOCUMENT BACKGROUND //
/////////////////////////

.kix-canvas-tile-content {
    background: transparent;
    background-size: contain;
}

.kix-canvas-tile-content rect[fill="rgba(255,255,255,1)"] {
    fill: var(--DocsAfterDark_documentBackground) !important;
}

#contents > div {
    background-color: var(--DocsAfterDark_documentBackground);
}

.kix-canvas-tile-content[style*="background-color: rgb(255, 255, 255)"],
.kix-appview-editor {
    background-color: var(--DocsAfterDark_documentBackground) !important;
}

//////////////////////////
// CONTROLLED VARIABLES //
//////////////////////////

.kix-appview-editor canvas,
.kix-cursor {
    filter: var(--DocsAfterDark_documentInvert);
}

// DOCUMENT BORDER SHOULD BE CONTROLLABLE IN ANY MODE

.kix-page-paginated {
    outline: var(--DocsAfterDark_documentBorder);
}
