@use "functions" as *;

:root {
    // Set default accentHue in CSS
    --DocsAfterDark_accentHue: 225;
}

// NOTE: Dark colors should start with the darkest colors and end on the
//       lightest. Light colors (e.g. background for dark and foreground for
//       light) should start with the lightest and end on the darkest.

$background-color-start: rgb(25 25 25);
$background-color-end: rgb(75 75 75);

$foreground-color-start: rgb(255 255 255);
$foreground-color-end: rgb(100 100 100);

$border-color-start: rgb(75 75 75);
$border-color-end: rgb(100 100 100);

:root {
    //////////////////////
    // BACKGROUND COLOR //
    //////////////////////

    @include generate-color-properties(
        "background-color",
        // color
        $background-color-start,
        $background-color-end,
        // steps
        10
    );

    //////////////////////
    // FOREGROUND COLOR //
    //////////////////////

    // foreground
    @include generate-color-properties(
        "foreground-color",
        // color
        $foreground-color-start,
        $foreground-color-end,
        // steps
        10
    );

    //////////////////
    // BORDER COLOR //
    //////////////////

    @include generate-color-properties(
        "border-color",
        // color
        $border-color-start,
        $border-color-end,
        // steps
        10
    );

    /////////////////
    // HOVER COLOR //
    /////////////////

    @include generate-color-properties-alpha(
        "hover-color",
        // reuse foreground start color
        $foreground-color-start,
        $foreground-color-start,
        0.1,
        1,
        10
    );

    //////////////////
    // ACCENT COLOR //
    //////////////////

    @include generate-hsl(
        "accent-color",
        "var(--DocsAfterDark_accentHue)",
        // saturation
        40,
        40,
        // lightness
        40,
        40,
        // steps
        10
    );
}
