:root {
    --primary-text-color: #fff;
    --secondary-text-color: #f2f2f2;
    --tertiary-text-color: #e6e6e6;
    --disabled-text: #666;

    --root-background-color: #1a1a1a;
    --primary-background-color: #262626;
    --secondary-background-color: #333;
    --tertiary-background-color: #404040;
    --quaternary-background-color: #4d4d4d;
    --background-color-5: #595959;

    --menu-background: var(--secondary-background-color);
    --hover-background-color: #ffffff1a;
    --secondary-hover-background-color: #ffffff1e;

    --solid-hover-background-color: #404040;
    --secondary-solid-hover-background-color: #4d4d4d;

    --primary-border-color: #4d4d4d;
    --secondary-border-color: #404040;
    --lighter-border-color: #808080;
    --hover-border-color: #595959;

    --input-border-color: #666;
    --input-hover-border-color: #808080;
    --input-background-color: var(
        --tertiary-background-color
    ); /* CURRENTLY USED FOR CALENDAR INPUT */

    --button-text-color: #fff;

    // Set default accentHue in CSS
    --DocsAfterDark_accentHue: 88;

    --accent-color: hsl(var(--DocsAfterDark_accentHue) 40% 60%);
    --light-accent-color: hsl(var(--DocsAfterDark_accentHue) 40% 70% / 10%);
    --light-accent-hover-color: hsl(
        var(--DocsAfterDark_accentHue) 60% 60% / 20%
    );
    --accent-hover-color: hsl(var(--DocsAfterDark_accentHue) 60% 80% / 100%);
}
