:root {
    --primary-text-color: #ffffff;
    --secondary-text-color: #f2f2f2;
    --tertiary-text-color: #e6e6e6;
    --disabled-text: #666666;

    --root-background-color: #1a1a1a;
    --primary-background-color: #262626;
    --secondary-background-color: #333333;
    --tertiary-background-color: #404040;
    --quaternary-background-color: #4d4d4d;
    --background-color-5: #595959;

    --menu-background: var(--secondary-background-color);
    --hover-background-color: #ffffff1a;
    --secondary-hover-background-color: #ffffff1e;

    --solid-hover-background-color: #404040;
    --secondary-solid-hover-background-color: #4d4d4d;

    --primary-border-color: #4d4d4d;
    --secondary-border-color: #404040;
    --lighter-border-color: #808080;
    --hover-border-color: #595959;

    --input-border-color: #666666;
    --input-hover-border-color: #808080;
    --input-background-color: var(
        --tertiary-background-color
    ); /* CURRENTLY USED FOR CALENDAR INPUT */

    --button-text-color: #fff;

    --accent-color: #1e88e5;
    --accent-hover-color: #2196f3;
    --light-accent-color: #1e88e51a;
    --light-accent-hover-color: #1e88e51e;
}