// .docs-grille-version-history
//     .docs-revisions-filter-selector.docs-material-gm-select-hover
//     .docs-material-gm-select-outer-box,
// .ita-hwt-jfk-standard.ita-hwt-jfk-hover {
//     border-color: var(--hover-border-2);
// }

// .docs-grille-gm3
//     #fontSizeSelect.docs-font-size-inc-dec-combobox.goog-toolbar-combo-button-hover {
//     border-color: var(--hover-border-2) !important;
// }
