.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-0,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-1,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-2,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-3,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-4,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-5,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-6,
.outlines-widget
    .outlines-widget-chaptered
    .chapter-container
    .navigation-item
    .navigation-item-level-7,
.docs-gm .goog-menuitem-accel,
.docs-gm .goog-menuitem-disabled .goog-menuitem-accel,
.outlines-widget-chaptered .navigation-widget-header,
.docs-material-gm-labeled-checkbox
    .docs-material-gm-labeled-checkbox-description,
.appsDocsUiMaterialWizCommonLabelledcomponentsSecondaryLabelText,
.DocsSidebarComponentsLabelMediumOnSurfaceVariant {
    color: var(--foreground-color-4);
}

.docs-ai-text-generator-bubble-free-form-input-textarea::placeholder {
    color: var(--foreground-color-4) !important;
}

.goog-palette-cell-selected .docs-preview-palette-item {
    border-color: var(--foreground-color-4);
}
