body,
input,
.docs-generativeai-onboarding-dialog-title,
.chapter-item-label-and-buttons-container-selected .chapter-item .goog-control,
.chapter-item-label-and-buttons-container-selected .chapter-label-content,
.docs-gm .goog-menuitem,
.goog-menuitem-highlight .goog-menuitem-content, .goog-menuitem-hover .goog-menuitem-content,
.goog-option-selected .goog-menuitem-content,
.javascriptMaterialdesignGm3WizDialog-dialog--standard .javascriptMaterialdesignGm3WizDialog-dialog__title,
.javascriptMaterialdesignGm3WizDatatable-data-table__cell,
.javascriptMaterialdesignGm3WizFormField--label,
.javascriptMaterialdesignGm3WizDialog-dialog--sheet .javascriptMaterialdesignGm3WizDialog-dialog__title,
.kix-citations-sidebar-titlebar,
.kix-citations-source-list-zero-state-heading,
.docs-material-gm-select-caption,
.kix-linenumbers-sidebar-titlebar,
.kix-linenumbers-sidebar .kix-linenumbers-checkbox-container .docs-material-gm-labeled-checkbox-label,
.kix-linenumbers-sidebar,
.kix-citations-accessed-by-select-label, .kix-citations-label, .kix-citations-source-type-select-label,
.docs-gm .docs-dictionary-titlebar,
.docs-gm .docs-explore-dictionaryentry-title,
.docs-gm .docs-explore-dictionaryentries,
.docs-material-gm-dialog-title-text,
.docs-gm .docs-offline-optinpromo-title-text, .docs-gm .modal-dialog-title-text,
.docs-gm .docs-material-gm-dialog .goog-flat-menu-button-caption, .docs-gm .kix-smart-controls-button-sidebar-edit-view-formatting-controls .goog-flat-menu-button-caption, .docs-gm .kix-tablesidebar-control .goog-flat-menu-button-caption, .docs-gm .modal-dialog .goog-flat-menu-button-caption, .docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button-caption,
.docs-gm #docs-offline-optinpromo-description, .docs-gm #docs-offline-optinpromo-learn-more-container, .docs-gm .modal-dialog, .docs-gm .modal-dialog-content, .docs-gm .modal-dialog.google-url-picker,
.docs-contentembedding-titlebar,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-header,
.customSpacingDialogHeading,
.docos-comments-pe .docs-docos-activity-sidebar-header-title,
.kixChaptersOnboardingPromoTitle,
.miniChapterSwitcherSelectedChapterInfoText,
.miniChapterSwitcherChapterCountInfoText,
.chapterTooltipPromoBody,
.docs-gm .docs-revisions-chromecover-content-color-default,
.docs-gm .docs-revisions-sidebar-header,
.docs-revisions-tile-text-box:disabled,
.docs-grille-version-history .docs-revisions-tile-selected .docs-revisions-tile-text-box,
#docs-toolbar-iterator-label,
.docs-grille-version-history .docs-material-gm-labeled-checkbox, .docs-grille-version-history .docs-material-gm-labeled-checkbox-label,
.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button .goog-toolbar-combo-button-input:focus, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button-open .goog-toolbar-combo-button-input,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button:focus, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-active, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button.goog-toolbar-menu-button-open, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button:focus,
input#docs-findandreplacedialog-input,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled) .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled).javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.docs-checkupdialog-content-container,
.baseCopyDocDialogTitleText,
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled, .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused):hover .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field__input,
.docs-save-indicator-popup-subtitle,
.docs-grille-gm3 .docs-ui-toast,
.pageSetupDialogSectionTitle,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled) .mdc-select__selected-text,
.javascriptMaterialdesignGm3WizMenuSurface-menu-surface,
// .javascriptMaterialdesignGm3WizButtonFilledTonal-button__label,
.appsElementsColorPicker-color-picker__swatches-label,
.javascriptMaterialdesignGm3WizTabsPrimary-tab:not(.javascriptMaterialdesignGm3WizTabsPrimary-tab--active, :disabled):hover .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__option .mdc-list-item__content, .javascriptMaterialdesignGm3WizSelectOutlinedEl .mdc-select__option .mdc-list-item__primary-text,
.ita-hwt-candidate-hover,
.ita-hwt-candidate,
.kix-spellcheck-with-explanation-bubble .kix-spellcheck-with-explanation-bubble-title-text,
.docos-ssd-radio-button-group .jfk-radiobutton-label label,
.appsDocsUiSidebarHeading,
.docs-image-synthesis-search-bar-input,
.imageGenerationStylePresetsItem,
.docs-smart-canvas-scrollable-inputless-insert-menu .docs-inline-insert-menu-item-title,
textarea.docs-search-bar-input.goog-textarea,
.docs-gm .docs-tiled-sidebar-header,
.docs-gm .docs-sidebar-tile-header,
.docs-number-input-container input,
.docos,
.docos-stream-emoji-content .docos-stream-emoji-reply-author .docos-author,
.docs-gm.docos-xeditor .docos-streamdocoview-authorname-timestamp .docos-streamdocoview-author,
.docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview-authorname-timestamp .docos-streamdocoview-author,
.docos-comments-pe .docos-streamdocoview-body, .docos-comments-pe .docos-streamreplyview-body,
.docs-gm .docos-streamdocoview-input-pane .docos-input-textarea,
.docs-grille-gm3 .docos-input .docos-input-textarea, .docs-grille-gm3 .docos-input .docos-input-textarea:focus, .docs-grille-gm3 .docos-streamdocoview-input-pane .docos-input-textarea, .docs-grille-gm3 .docos-streamdocoview-input-pane.docos-input .docos-input-textarea:focus,
.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body,
.docs-grille-gm3 .docos-anchoredreplyview-header .docos-anchoredreplyview-author,
.sketchyUnnestedDialogSketchyDialogHeaderTitle,
.docs-embedded-content-popup .docs-embedded-content-button-text, .docs-embedded-content-popup .docs-embedded-content-no-update,
.docs-alt-text-tile-description-text-field,
.docs-alt-text-tile-title-input,
.docs-contentembedding-sidebar-tile-title,
.smart-canvas-date-picker-bubble-gm3 .goog-date-picker-date, .smart-canvas-date-picker-bubble-gm3 .goog-date-picker-wday,
.smart-canvas-date-picker-bubble .goog-date-picker-monthyear,
.smart-canvas-time-selection-combo-box-container .goog-combo-button-input,
.smart-canvas-time-zone-selection-dialog-edit-field-text,
.smart-canvas-date-details-bubble-edit-field,
.smart-canvas-date-details-bubble.smart-canvas-date-details-bubble-gm3-lite,
.docos-calltoactionview-header,
.docs-gm .docs-linkbubble-bubble, .docs-gm .docs-multi-linkbubble-bubble,
.javascriptMaterialdesignGm3WizList-list-item:hover .javascriptMaterialdesignGm3WizList-list-item__primary-text,
.javascriptMaterialdesignGm3WizList-list-item:focus .javascriptMaterialdesignGm3WizList-list-item__primary-text,
.docs-material-hsv-color-picker-input,
.kix-watermark-sidebar-header,
.kix-watermark-scale-combobox-container .goog-toolbar-combo-button-input,
.kix-watermark-text-input-container input,
.docs-sidebar-toggle-tabs .jfk-button.docs-sidebar-toggle-tab-inactive:hover,
.javascriptMaterialdesignGm3WizTextFieldFilled-text-field:not(.javascriptMaterialdesignGm3WizTextFieldFilled-text-field--disabled) .javascriptMaterialdesignGm3WizTextFieldFilled-text-field__input,
.javascriptMaterialdesignGm3WizTextFieldFilled-text-field:not(.javascriptMaterialdesignGm3WizTextFieldFilled-text-field--disabled, .javascriptMaterialdesignGm3WizTextFieldFilled-text-field--focused):hover .javascriptMaterialdesignGm3WizTextFieldFilled-text-field__input,
.docs-gm .kix-bookmark-bubble,
.pageOrientationDialogHeading,
.bordersShadingDialogSection,
.indentationDialogWizHeading,
.javascriptMaterialdesignGm3WizSelectSharedRefactored-select__selected-text,
.javascriptMaterialdesignGm3WizSelectSharedRefactored-select.javascriptMaterialdesignGm3WizSelectSharedRefactored-select--focused .javascriptMaterialdesignGm3WizSelectSharedRefactored-select__selected-text,
.javascriptMaterialdesignGm3WizSelectSharedRefactored-select:hover .javascriptMaterialdesignGm3WizSelectSharedRefactored-select__selected-text,
.javascriptMaterialdesignGm3WizList-list-item--selected .javascriptMaterialdesignGm3WizList-list-item__primary-text,
.coverImagePromoTitle,
.docs-mic-palette .goog-flat-menu-button-caption,
.docs-voice-activity-bubble, .docs-voice-mic-bubble,
.appsElementsSidekickHeaderTitle,
.appsElementsSidekickHeaderIcon,
.appsElementsSidekickPromptInput,
.javascriptMaterialdesignGm3WizChipAssistFlatEl .gm3-chip__text-label,
.javascriptMaterialdesignGm3WizChipAssistFlatEl:not(.gm3-chip--disabled) .gm3-chip__action--primary-interactive:hover .gm3-chip__text-label,
.appsElementsSidekickFeed,
.javascriptMaterialdesignGm3WizIconButtonStandard-icon-button:hover,
.apps-shortcutshelpcontentimpl-dialog-title,
.apps-actiondatawidget-content-header,
.apps-actiondatawidget-shortcut-desc,
.apps-actiondatawidget-shortcut-key,
.apps-navigationwidget,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button.jfk-button-hover, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button.goog-flat-menu-button-hover,
.goog-menu.scb-sqa-menu .goog-menuitem.scb-sqa-menuitem,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button:focus, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button:focus,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button.jfk-button-hover:focus, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button.goog-flat-menu-button-hover:focus,
.chapterDocoIndicatorViewText,
.docs-title-input:focus,
.aiBlockPreviewBubbleHeading,
#document-details-bubble-header,
.docs-grille-gm3 .jfk-tooltip,
.docs-grille-gm3 #docs-toolbar-mode-switcher.suggest-mode .goog-toolbar-menu-button-caption,
.docs-grille-gm3 #docs-omnibox-toolbar .docs-omnibox-input,
.docs-grille-gm3 .scb-tooltip-text, .docs-grille-gm3 .scb-tooltip-title, .drive-viewer-gm3 .scb-tooltip-text, .drive-viewer-gm3 .scb-tooltip-title,
.kix-citations-create-view-input,
.kix-citations-source-list-item-content,
.docs-chat-title-bar,
.docs-gm .docs-chat-edit-box,
.kix-header-footer-bubble-description,
.kix-citations-search-input,
.kix-citations-search-result-attribute-value,
.chapters-in-cslv .docs-grille-version-history .docs-revisions-authorwidget-hat,
.docs-grille-gm3 .docs-chat-message-tooltip-content,
.docs-proofread-sidebar-title-text,
.docs-gm3-tonal-button {
    color: var(--foreground-color-0);
}

.kix-embedded-entity-bubble
    .kix-drawing-bubble-edit-button:not(.docs-material-button-disabled),
.kix-rich-link-view,
.apps-menuitem .goog-menuitem-label[style*="color: rgb(0, 0, 0);"],
.kix-citations-source-list-item-content span {
    color: var(--foreground-color-0) !important;
}

//////////
// FILL //
//////////

.premiumFeatureDialogTitleIcon > svg > path {
    fill: var(--foreground-color-0);
}
