.docs-generativeai-onboarding-dialog-text,
.docs-generativeai-onboarding-dialog-subtext,
.chapter-item .goog-control,
.chapter-label-content,
.docs-gm .goog-menuitem .docs-display-density-toolbar-menuitem-description,
.docs-gm .goog-menuitem .docs-toolbar-mode-switcher-menu-description,
.docs-gm .goog-menuitem .punch-qanda-presenter-view-menu-item-description,
.docs-explore-dictionaryentry-sensefamily-morphunits,
.docs-explore-dictionaryentry-sense-antonym-prefix,
.docs-explore-dictionaryentry-sense-synonym-prefix,
.docs-material-gm-dialog-content,
.docs-contentembedding-sidebar-zero-state
    .docs-contentembedding-sidebar-zero-state-body,
.docos-comments-pe .docos-streampane-zero-state-content-add-comment,
.docos-comments-pe
    .docos-filter-settings
    .docs-material-menu-button-flat-default,
.docos-streampane-tabbar .docs-tabbar-tab .docs-tabbar-tablabel,
.kixChaptersOnboardingPromoDescription,
.docs-grille-gm3 .docs-main-toolbars .goog-toolbar-combo-button-input,
.docs-grille-version-history .docs-revisions-sidebar-date-group,
.docs-gm
    .docs-grille-version-history
    .docs-revisions-tile-selected
    .docs-revisions-tile-descriptor,
.docs-gm
    .docs-grille-version-history
    .docs-revisions-tile-selected
    .docs-revisions-tile-text-box
    ~ .docs-revisions-tile-descriptor,
.docs-revisions-filter-selector .docs-material-gm-select-caption,
.docs-revisions-filter-selector .goog-menuitem-content,
.docs-findinput-count,
.docs-gm .docs-material-bubble .jfk-textinput,
.docs-gm .docs-material-gm-dialog .jfk-textinput,
.docs-gm .modal-dialog .jfk-textinput,
.docs-grille-gm3 #docs-toolbar-mode-switcher .goog-toolbar-menu-button-caption,
.docs-save-indicator-popup-text,
.docs-gm .docs-revisions-tile-descriptor,
.docs-gm .docs-revisions-tile-text-box ~ .docs-revisions-tile-descriptor,
.docs-grille-version-history.docs-revisions-filter-selector
    .docs-material-gm-select-caption,
.docs-grille-version-history.docs-revisions-filter-selector
    .goog-menuitem-content,
.javascriptMaterialdesignGm3WizIconButtonStandard-icon-button,
.javascriptMaterialdesignGm3WizTabsPrimary-tab:not(
        .javascriptMaterialdesignGm3WizTabsPrimary-tab--active,
        :disabled
    )
    .javascriptMaterialdesignGm3WizTabsPrimary-tab__text-label,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(
        .mdc-select--disabled,
        .mdc-select--focused
    ):hover
    .mdc-floating-label--float-above,
.ita-hwt-jfk-standard,
.ita-hwt-jfk-standard.ita-hwt-jfk-hover,
.kix-spellcheck-with-explanation-bubble
    .kix-spellcheck-with-explanation-bubble-explanation-text,
.kix-spell-bubble .kix-spell-bubble-suggestion-text,
.docos-ssd-content p,
.docs-image-generation-example-gallery-header-title,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker,
.appsDocsColorUiWizPreviewableColorpickerPreviewTitle,
.docs-bubble,
.docs-sidebar-tile,
.docs-material-gm-labeled-checkbox .docs-material-gm-labeled-checkbox-label,
.docs-number-input-unit,
.docos-comments-pe .docos-xeditor .docos-stream-emoji-header-container,
.docos-comments-pe .docos-xeditor .docos-streamdocoview-header-container,
.javascriptMaterialdesignGm3WizDialog-dialog__content,
.docs-sidebar-tile-label,
.smart-canvas-date-picker-bubble-time-zone-selection-button,
.docs-modality-header-message-component-title,
.kix-tab-to-convert-bubble-message-prefix,
.javascriptMaterialdesignGm3WizList-list-item__content,
.javascriptMaterialdesignGm3WizList-list-item__primary-text,
.docs-gm .docs-colormenuitems .docs-colormenuitems-custom-header,
.docs-gm .docs-colormenuitems .docs-colormenuitems-scheme-header,
.kix-watermark-section-header,
.kix-watermark-format-label,
.docs-sidebar-toggle-tabs .jfk-button.docs-sidebar-toggle-tab-inactive,
.coverImagePromoContent,
.appsElementsGenerativeAiTitleRoot,
.appsElementsSidekickPromptLibraryCategoryName,
.nextChapterBottomFabView.docs-gm3-filled-button,
.nextChapterBottomFabView.docs-gm3-filled-button.docs-gm3-button-hover,
.document-details-entry-text,
.kix-embedded-entity-options .docs-material-gm-select-caption,
.docs-checkupdialog-button-ignore.docs-material-button-hairline-default.docs-material-button,
.kix-watermark-font-size-combo-box-container input,
.docs-parent-collections-container-prefix,
.docs-parent-collections-container-text,
.docs-parent-collections-container-folder-name,
.docos-comments-pe .docos-streampane-searchbar .docos-streampane-search-input,
.docs-chat-messages,
.miniChapterSwitcherChapterItemTitle,
.kix-header-footer-bubble-checkbox-label,
.hiddenFeaturesBubbleTitle,
.docs-material #docs-script-button-bar .jfk-button.jfk-button-hover {
    color: var(--foreground-color-1);
}

.docs-linkbubble-link-preview .docs-link-bubble-text-card-component span,
.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body div,
.docs-grille-gm3 .docos-anchoredreplyview .docos-anchoredreplyview-body span,
.docs-grille-gm3 .docos-streamdocoview-body .docos-replyview-body span,
.docos-streamdocoview-body.docos-replyview-body div,
.docos-streamdocoview-body.docos-replyview-body div span,
.docos-xeditor .streamdocoview-header-orphaned-location {
    color: var(--foreground-color-1) !important;
}

//////////
// FILL //
//////////

svg.kix-dropdown-item-selection-button-icon,
svg.kix-configure-dropdown-button-add-icon,
.docos-comments-pe
    .docs-gm.docos-xeditor
    .docos-search-button
    .docos-search-comments-icon-path {
    fill: var(--foreground-color-1);
}
