.docs-gm .docs-explore-emptylist-body,
.docos-comments-pe .docos-streampane-zero-state-footer-edu,
.docos-comments-pe .docos-streampane-zero-state-footer-edu-explained,
.docs-gm .docs-grille-version-history .docs-revisions-tile-collaborator-name,
.javascriptMaterialdesignGm3WizSelectOutlinedEl:not(.mdc-select--disabled)
    .mdc-floating-label--float-above,
.docos-ssd-radio-button-group .jfk-radiobutton-label span,
.docs-image-synthesis-sidebar
    .goog-menuheader:not(.genAiImageSidebarEditImageTabDisabledMessage),
.docs-smart-canvas-scrollable-inputless-insert-menu
    .docs-inline-insert-menu-item-subtext,
.docs-smart-canvas-insert-menu-message,
.docs-gm .docos-streamreplyview .docos-action-text,
.docs-gm .docos-streamrootreplyview .docos-action-text,
.docs-gm.docos-xeditor
    .docos-comments-pe
    .docos-streamdocoview-authorname-timestamp
    .docos-streamdocoview-timestamp,
.docs-grille-gm3 .docos-input-contenteditable:empty::before,
.docs-grille-gm3 .docos-anchoredreplyview .docos-action-text,
.docs-grille-gm3
    .docos-anchoredreplyview-header
    .docos-anchoredreplyview-timestamp,
.docs-grille-gm3 .docos-streamdocoview .docos-action-text,
.docs-grille-gm3.docs-gm .docos-xeditor .docos-streamdocoview-timestamp,
.docs-sidebar-tile-input-label,
.docs-number-input-label,
.docs-labeled-button-label,
.docs-contentembedding-sidebar-tile-subtitle,
.docs-grille-gm3 .docos-calltoactionview-body,
.docs-grille-gm3 .docos-calltoactionview-dont-show-again-label,
.docs-grille-gm3 .docos-calltoactionview-show-less,
.docs-grille-gm3 .docos-calltoactionview-show-more,
.docs-link-bubble-card-component.docs-link-bubble-maps-place-card-component
    .docs-link-bubble-maps-place-card-text
    .docs-link-bubble-maps-place-card-address,
.docs-link-bubble-card-component.docs-link-bubble-maps-place-card-component
    .docs-link-bubble-maps-place-card-text
    .docs-link-bubble-maps-place-card-category,
.appsElementsLinkInsertionCard,
.aiBlockPreviewBubbleDisclaimer,
.goog-char-picker-unicode,
.appsElementsSidekickQuotaMessage,
.javascriptMaterialdesignGm3WizList-list-item__secondary-text,
.goog-menu
    .goog-menuitem-disabled.scb-sqa-iconless-menuitem
    .goog-menuitem-content
    .scb-sqa-visibility-details,
.goog-menu
    .goog-menuitem-disabled.scb-sqa-iconless-menuitem
    .goog-menuitem-content
    .scb-sqa-visibility-summary,
.docs-titlebar-badge,
.outline-refresh.navigation-widget-unified-styling
    .navigation-widget-empty-content,
.docs-fontmenu .docs-fonts-section-header,
.appsElementsEmojipickerListLabelRow,
.docos-comments-pe .docos-streampane-all-filtered-out-message,
.kix-citations-create-view-zero-state-content,
.kix-citations-source-list-zero-state-content,
.kix-citations-create-view-attribute-label,
.docs-chat-title-message > h2,
.docs-chat-status,
.kix-citations-search-result-attribute-label,
.hiddenFeaturesBubbleBody,
.docs-material #docs-script-button-bar .jfk-button,
.docs-material #docs-script-button-bar .jfk-button:focus,
.docs-gm .docs-menubar .goog-control,
.docs-material .goog-toolbar-button,
.docs-material .goog-toolbar-menu-button,
.docs-proofread-sidebar-filter-content,
.docsAiTextGeneratorBubbleTitleTextInput {
    color: var(--foreground-color-2);
}

input::placeholder,
textarea::placeholder {
    color: var(--foreground-color-2) !important;
}

.goog-palette-cell-hover .docs-preview-palette-item {
    border-color: var(--foreground-color-2);
}
