:root {
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #F2F2F2;
  --tertiary-text-color: #E6E6E6;
  --disabled-text: #666666;

  --root-background-color: #1A1A1A;
  --primary-background-color: #262626;
  --secondary-background-color: #333333;
  --tertiary-background-color: #404040;
  --quaternary-background-color: #4D4D4D;
  --background-color-5: #595959;

  --menu-background: var(--secondary-background-color);
  --hover-background-color: #FFFFFF1a;
  --secondary-hover-background-color: #FFFFFF1e;

  --solid-hover-background-color: #404040;
  --secondary-solid-hover-background-color: #4D4D4D;

  --primary-border-color: #4D4D4D;
  --secondary-border-color: #404040;
  --lighter-border-color: #808080;
  --hover-border-color: #595959;

  --input-border-color: #666666;
  --input-hover-border-color: #808080;
  --input-background-color: var(--tertiary-background-color); /* CURRENTLY USED FOR CALENDAR INPUT */

  --button-text-color: #fff;
  
  --accent-color: hsl(var(--docsafterdark-accent-hue), 40%, 60%);
  --light-accent-color: hsla(var(--docsafterdark-accent-hue), 40%, 70%, 0.10);
  --light-accent-hover-color: hsla(var(--docsafterdark-accent-hue), 60%, 60%, 0.20);
  --accent-hover-color: hsla(var(--docsafterdark-accent-hue), 60%, 80%, 1);
}

.docs-material .docs-icon-img:before,
.docs-material .docs-icon-img,
.ita-cp-lens,
.ita-cp-whole-pad .modal-dialog-title-close:after,
.docs-dialog .modal-dialog-title-close:after,
.unifiedPreviewBubbleContent canvas,
.docs-ml-img:before
{
  filter: invert(1);
}

.apps-share-sprite,
.docs-grille-gm3 #docs-align-palette .goog-toolbar-button-checked .docs-icon-img, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button-checked .docs-icon-img, .docs-grille-gm3 .docs-main-toolbars .goog-toolbar-button.goog-toolbar-button-checked .docs-icon-img, .docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-selected .docs-icon-img, .docs-grille-gm3.docs-gm .trix-palette .goog-palette-cell-selected .docs-icon-img,
.docs-material .docs-icon-imgm
.baseCopyDocDialogUtilSvgIcon
{
  filter: invert(1) grayscale(1);
}

.ita-kd-img,
.app-switcher-button-icon-container[style*="background-image: url(https://fonts.gstatic.com/s/i/googlematerialicons/add/v21/black-24dp/1x/gm_add_black_24dp.png)"],
.docs-revisions-icon-img:before
{
  filter: invert(1) brightness(0.6);
}

.docs-grille-gm3 .docs-material .docs-icon-img, .docs-icons-cleanup .docs-material .docs-icon-img,
.docs-grille-gm3 .docs-material .docs-icon-img:before,
.docs-gm .docs-material.goog-menu .goog-menuitem.goog-option-selected .goog-menuitem-checkbox
{
  /* GRAYSCALE TO TAKE AWAY COLOR */
  filter: brightness(2.6) grayscale(1);
}

/* #61 */
.kix-appview-editor.kix-format-painter-mode, .kix-format-painter-mode .kix-page
{
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw1AUhU9TpSIVBztIcchQnexSRRxLLRbBQmkrtOpg8tI/aNKQpLg4Cq4FB38Wqw4uzro6uAqC4A+Iu+Ck6CIl3pcUWsR4wyMf591zeO8+QGjXmWoOxAFVs4xsKiEWiqti4BU++gTEEJaYqadzi3l41tc99VLdRXmWd9+fNaKUTAb4ROI40w2LeIN4btPSOe8Th1hVUojPiacNOiDxI9dll984VxwWeGbIyGcXiEPEYqWP5T5mVUMlniWOKKpG+ULBZYXzFme13mTdc/IbBkvaSo7rtCaQwhLSyECEjCZqqMNClP4aKSaytJ/w8Icdf4ZcMrlqYORIogEVkuMHf4PfszXLMzE3KZgABl9s+2MSCOwCnZZtfx/bducE8D8DV1rP32gD85+kt3pa5AgY3QYurnuavAdc7gDjT7pkSI7kpyWUy8D7GT1TERi7BYbX3Ll193H6AORpVss3wMEhMFWh7HWPew/1z+3fnu78fgCHzXKv+PRoGAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMJJREFUSMftljEOwjAMReuKoWtPwog4QCeuwMpNOAhHYCgH4AjsrF2YunR+LI7UIUqdEiKE8jcn9s+PZcepqoJfBTABD+Co9kHtKZeABtgDT+ACDEAHNB7fnmX0a4XslKAL+JjgixWjCEREQvuxF3N8dc66EsV8LZWAWyKfdCm28m2+1EFmwRJDFipEX4zFv7ZWq/XwWGTtgiJglQD3BLuhlHMatjoBB+AMvIAT0Fq64OO3AxiB+ywDW+AKjOWz8ld4A4hF4WAvNVb5AAAAAElFTkSuQmCC) 5 10,text;
}