.chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):has(.chapter-item-buttons:focus-within,.chapterItemArrowContainer:focus-within,.chapterItemIconAddButton:focus-within,.chapterItemIconEditButton:focus-within), .chapter-item-nested .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected), .navigation-widget-content:not(.chapter-item-dragged-within) .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):hover,
.kix-outlines-widget-header-add-chapter-button:not(.kix-outlines-widget-header-add-chapter-button-disabled) .jfk-button:focus, .kix-outlines-widget-header-add-chapter-button:not(.kix-outlines-widget-header-add-chapter-button-disabled) .jfk-button:hover,
.docs-floating-navigation-button-hover .docs-floating-navigation-button-outer-box, .navigation-widget-hat-close.goog-flat-button-hover .navigation-widget-hat-close-button-outer-box,
.docs-grille-gm3 .trix-palette .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm #docs-align-palette .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .clean-palette .goog-palette-cell-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-button-hover, .docs-grille-gm3.docs-gm .docs-main-toolbars .goog-toolbar-menu-button-hover, .docs-grille-gm3.docs-gm .docs-toolbar-zoom-combobox.goog-toolbar-combo-button-hover,
#docs-revisions-appbarbutton.jfk-button-disabled:hover, #docs-revisions-appbarbutton.jfk-button-hover,
.docs-grille-gm3 .docs-material #docs-docos-commentsbutton.jfk-button.jfk-button-hover,
.docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-focused, .docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-hover, .docs-grille-gm3 #docs-meet-in-editors-entrypointbutton.goog-flat-menu-button-open,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-hover,
.ita-hwt-jfk-standard.ita-hwt-jfk-hover,
.appsDocsAiGenerativeaiImageGenerationTypePickerPicker .docs-thumbnailcontrol-hover .docs-thumbnailcontrol-thumbnailcontainer,
.smart-canvas-time-selection-combo-box-container:hover .goog-combo-button-input,
.smart-canvas-date-picker-bubble-time-zone-selection-button:hover,
.smart-canvas-date-details-bubble-edit-field.smart-canvas-date-details-bubble-edit-field-gm3:hover, .smart-canvas-date-details-bubble-time-zone-edit-field:hover,
.aiBlockMenuBarBubbleAcceptButton:hover, .aiBlockMenuBarBubbleDiscardButton:hover, .aiBlockMenuBarBubbleRefreshButton:hover,
.docs-grille-gm3.docs-gm #docs-toolbar-mode-switcher.goog-toolbar-menu-button-hover.suggest-mode,
.docs-grille-gm3 #titlebar-mode-indicator-container>.docs-material-menu-button-flat-primary-hover, .docs-grille-gm3 .kix-titlebar-approvals-button>.docs-material-menu-button-flat-primary-hover, .docs-grille-gm3 .titlebar-request-access-button.docs-material-button.docs-material-button-hover,
.docs-grille-gm3 #docs-titlebar-share-client-button .jfk-button.jfk-button-hover, .docs-grille-gm3 #scb-quick-actions-menu-button.goog-flat-menu-button.goog-flat-menu-button-hover,
.docs-grille-gm3 .docos-emoji-reaction-doco-view .docs-material-button-flat-primary:hover .docs-material-button-content, .docs-grille-gm3 .docos-emoji-reaction-doco-view .docs-material-button-hover .docs-material-button-content, .docs-grille-gm3 .docos-replyview-emoji-controls .docs-material-button-hover .docs-material-button-content, .docs-grille-gm3 .docos-replyview-emojis-wrapper .docs-material-button-hover,
.docos-comments-pe .docos-streamdocoview.docos-docoview-resolved:hover .docos-showrepliesbutton-collapsed-internal-container, .docos-comments-pe .docs-gm.docos-xeditor .docos-docoview-resolved.docos-streamdocoview:hover, .docos-comments-pe .docs-gm.docos-xeditor .docos-streamdocoview.docos-docoview-resolved:hover .docos-show-more,
.nextChapterBottomFabView.docs-gm3-filled-button.docs-gm3-button-hover,
.docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button:focus, .docs-contentembedding-sidebar-zero-state .docs-contentembedding-sidebar-zero-state-button:hover,
.chapter-item-label-and-buttons-container-selected .chapterItemIconAddButton:hover, .chapter-item-label-and-buttons-container-selected .chapterItemIconEditButton:hover,
.chapter-item-label-and-buttons-container-selected .chapterItemIconAddButton:focus-within, .chapter-item-label-and-buttons-container-selected .chapterItemIconEditButton:focus-within,
.docs-grille-gm3.docos.docs-gm .jfk-button.jfk-button-action.jfk-button-disabled, // COMMENT DISABLED SAVE BUTTON
.docs-body-pageless .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):has(.chapter-item-buttons:focus-within,.chapterItemArrowContainer:focus-within,.chapterItemIconAddButton:focus-within,.chapterItemIconEditButton:focus-within), .docs-body-pageless .chapter-item-nested .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected), .docs-body-pageless .navigation-widget-content:not(.chapter-item-dragged-within) .chapter-item-label-and-buttons-container:not(.chapter-item-label-and-buttons-container-selected):hover,
.smart-canvas-date-details-bubble-time-disabled .smart-canvas-date-details-bubble-time-zone-edit-field, .smart-canvas-date-details-bubble-time-disabled .smart-canvas-time-selection-combo-box-container .goog-combo-button-input, .smart-canvas-date-details-bubble-time-zone-edit-field.smart-canvas-date-details-bubble-time-zone-edit-field-disabled,
.kix-citations-source-list-item:focus, .kix-citations-source-list-item:hover,
.goog-toolbar.kix-citations-source-list-item-toolbar .goog-toolbar-button-hover:not(.goog-toolbar-menu-button-open), .goog-toolbar.kix-citations-source-list-item-toolbar .goog-toolbar-menu-button-hover:not(.goog-toolbar-menu-button-open),
.kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-close:active, .kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-close:focus, .kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-close:hover, .kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-help:active, .kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-help:focus, .kix-citations-bibliography-bubble .kix-citations-bibliography-bubble-option-help:hover, .kix-citations-bibliography-bubble.kix-citations-bibliography-bubble-feedback-enabled .kix-citations-bibliography-bubble-option-feedback:active, .kix-citations-bibliography-bubble.kix-citations-bibliography-bubble-feedback-enabled .kix-citations-bibliography-bubble-option-feedback:focus, .kix-citations-bibliography-bubble.kix-citations-bibliography-bubble-feedback-enabled .kix-citations-bibliography-bubble-option-feedback:hover,
.kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button.goog-flat-menu-button-focused, .kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button.goog-flat-menu-button-hover, .kix-header-footer-bubble .kix-header-footer-bubble-menu-button.goog-flat-menu-button.goog-flat-menu-button-open,
.miniChapterSwitcherChapterList.goog-menu.goog-menu-vertical.miniChapterSwitcherChapterListViewContainer .goog-menuitem.goog-menuitem-highlight,
.appsElementsRichTextScoperCompactScoperMenuButton:hover,
.docs-ai-text-generator-bubble-usecase-menu-refine-ux-v2-enabled.docs-ai-text-generator-bubble-usecase-menu.goog-menu .docs-ai-text-generator-bubble-free-form-input-textarea:hover {
    background: var(--hover-color-0);
}

.docs-checkupdialog-suggestion-button-focused.jfk-button-hover {
    background: var(--hover-color-0) !important;
}

.docs-grille-gm3 .docs-menubar .goog-control-hover,
.docs-grille-gm3 .docs-menubar .goog-control-open,
.docs-sidebar-gm-titlebar-icon-button:hover,
.docs-gm
    .docs-grille-version-history.docs-revisions-filter-selector.goog-menu
    .goog-menuitem.goog-menuitem-highlight,
.docs-gm .docs-dialog .modal-dialog-title-close:hover,
.docs-grille-gm3 .docs-titlebar-badge .docs-save-indicator-icon:hover,
.docs-grille-gm3 .docs-titlebar-badge:hover,
.docs-gm .docs-material .docs-toolbar-button-split-sympathy-hover,
.docs-gm .docs-material .docs-toolbar-split-button-separator-wrapper,
.docs-gm .docs-material .docs-toolbar-split-create-button,
.docs-gm
    .docs-material
    .docs-toolbar-split-create-button.goog-toolbar-button-hover,
.docs-gm
    .docs-material
    .docs-toolbar-split-create-button.goog-toolbar-menu-button-hover
    .docs-gm
    .docs-material.trix-palette
    .goog-palette-cell-hover,
.docs-gm .docs-material .docs-toolbar-split-sl-button,
.docs-gm .docs-material .goog-toolbar-button-hover,
.docs-gm .docs-material .goog-toolbar-combo-button-hover,
.docs-gm .docs-material .goog-toolbar-menu-button-hover,
.docs-material-button-hover.docs-material-button-flat-default,
.kix-spellcheck-with-explanation-bubble-option:hover,
.docs-gm .kix-spell-bubble-suggestion-text:hover,
.docs-gm .kix-spell-bubble-option:hover,
.docs-gm .docs-material-gm-dialog-title-close:hover,
.docos-comments-pe .docs-sidebar-gm-titlebar-icon-button.goog-flat-button-hover,
.docos-comments-pe
    .docos-search-button
    .docs-material-button-hover.docs-material-button-flat-default,
.docos-comments-pe
    .docos-subscription-settings-button
    .docs-material-button-hover.docs-material-button-flat-default,
.imageGenerationStylePresetsMenu
    .imageGenerationStylePresetsMenuItem.goog-menuitem-highlight,
.kix-dropdown-item-selection-button.goog-flat-button-hover,
.kix-configure-dropdown-button.goog-flat-button-hover,
.docs-gm .goog-zippy-expanded.docs-sidebar-tile-header:focus,
.docs-sidebar-tile-header-cursor:focus:not(.docs-sidebar-tile-header-no-focus),
.docs-sidebar-tile-header-cursor:hover,
.docs-contentembedding-sidebar .docs-contentembedding-sidebar-tile:focus,
.docs-contentembedding-sidebar .docs-contentembedding-sidebar-tile:hover,
.goog-date-picker-date:hover::before,
.goog-date-picker-button:hover,
.smart-canvas-date-details-bubble-pattern-picker-button:focus,
.smart-canvas-date-details-bubble-pattern-picker-button:hover,
.smart-canvas-date-details-icon-button:focus,
.smart-canvas-date-details-icon-button:hover,
.docs-modality-header-message-component-icon-button.goog-flat-button-hover,
.docs-bubble .docs-bubble-button.jfk-button:focus,
.docs-bubble .docs-bubble-button.jfk-button:hover,
.docs-customcolorpalette-eyedropper-button:hover,
.docs-customcolorpalette-add-custom-color-button:hover,
.javascriptMaterialdesignGm3WizSelectOutlinedEl
    .mdc-list-item:not(.mdc-list-item--disabled)
    .mdc-list-item__ripple::after,
.javascriptMaterialdesignGm3WizSelectOutlinedEl
    .mdc-list-item:not(.mdc-list-item--disabled)
    .mdc-list-item__ripple::before,
.apps-navigationwidget-item-hover,
.apps-shortcutshelpcontentimpl-ac-renderer .ac-active,
.companion-collapser-button.app-switcher-button-checked.app-switcher-button-hover
    .app-switcher-button-icon-background,
.companion-theme-light
    .companion-collapser-button.app-switcher-button-checked.app-switcher-button-hover
    .app-switcher-button-icon-background,
.app-switcher-button-hover .app-switcher-button-icon-background,
.app-switcher-button-open .app-switcher-button-icon-background,
.companion-theme-light
    .app-switcher-button-focused
    .app-switcher-button-icon-background,
.companion-theme-light
    .app-switcher-button-selected
    .app-switcher-button-icon-background,
.docs-omnibox-autocomplete .ac-active,
.docs-gm .goog-menuitem-highlight,
.docs-parent-collections-container:focus,
.docs-parent-collections-container:hover,
.docs-gm.docs-grille-gm3 .docs-material .docs-chat.jfk-button.jfk-button-hover,
.docs-grille-gm3
    .docs-material
    .docs-presence-plus-widget-overflow-button.goog-flat-menu-button-hover,
.docs-grille-gm3 .instant-button:hover,
.docs-gm .docs-material-gm-dialog .goog-flat-menu-button-hover,
.docs-gm
    .kix-smart-controls-button-sidebar-edit-view-formatting-controls
    .goog-flat-menu-button-hover,
.docs-gm .modal-dialog .goog-flat-menu-button-hover,
.docs-gm .sketchy-shape-effects-shadow-tile .goog-flat-menu-button-hover {
    background-color: var(--hover-color-0);
}

.kix-drawing-bubble-edit-button.docs-material-button-hover,
.docs-proofread-sidebar-filter-menu .goog-menuitem-highlight {
    background-color: var(--hover-color-0) !important;
}
