:root {
    // gm3 dropdown
    --gm3-dropdown-button-outlined-with-icon-disabled-icon-color: var(
        --foreground-color-8
    );

    // gm3 select
    --gm3-select-shared-text-field-disabled-input-text-color: var(
        --foreground-color-8
    );
    --gm3-select-outlined-text-field-disabled-outline-color: var(
        --border-color-8
    );
    --gm3-select-shared-text-field-disabled-trailing-icon-color: var(
        --foreground-color-8
    );
    --gm3-select-shared-menu-list-item-selected-container-color: var(
        --background-color-5
    );

    // gm3 notched
    --gm3-notched-outline-border-color: var(--border-color-0);
    --gm3-dropdown-button-outlined-disabled-outline-color: var(
        --border-color-8
    );

    // gm3 button
    --gm3-button-filled-container-color: var(--accent-color-0);
    --gm3-button-text-disabled-label-text-color: var(--foreground-color-8);

    // gm3 sys
    --gm3-sys-color-surface: var(--background-color-2);
    --gm3-sys-color-surface-container: var(--background-color-1);
    --gm3-sys-color-secondary: var(--accent-color-4);

    --gm3-sys-color-on-surface: var(--foreground-color-0);
    --gm3-sys-color-surface-bright: var(--background-color-2);
    --gm3-sys-color-on-surface-variant: var(--foreground-color-1);

    --gm3-sys-color-primary: var(--accent-color-5);
    --gm3-sys-color-on-primary-fixed-variant: var(--accent-color-1);

    --gm3-sys-color-secondary-container: var(--accent-color-0);
    --gm3-sys-color-on-secondary-container: var(--foreground-color-1);

    // gm3 menu
    --gm3-menu-container-color: var(--background-color-2);

    // gm3 radio
    --gm3-radio-unselected-icon-color: var(--border-color-0);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(
        .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled
    ).javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused {
    --gm3-notched-outline-border-color: var(--background-color-0);
}

.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(
    .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled
),
.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--outlined:not(.javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--disabled, .javascriptMaterialdesignGm3WizTextFieldOutlined-text-field--focused):hover {
    --gm3-notched-outline-border-color: transparent;
}

.docs-bubble.appsElementsLinkPreview {
    --ae-link-preview-thumbnail-border-color: var(--border-color-0);
}
