html.DocsAfterDark_dark {
    .kix-equation-toolbar-icon,
    .kix-equation-toolbar-palette-item {
        filter: invert(1) hue-rotate(180deg);
    }

    .apps-share-sprite,
    .docs-material .docs-icon-img,
    .docs-gm
        .docs-material.goog-menu
        .goog-menuitem.goog-option-selected
        .goog-menuitem-checkbox,
    .ita-kd-img,
    .docs-dialog .modal-dialog-title-close::after,
    .goog-menuitem-checkbox,
    .docs-grille-gm3
        #docs-omnibox-toolbar.assisted-actions
        .docs-omnibox-row-icon,
    .ita-cp-lens,
    .ita-cp-whole-pad .modal-dialog-title-close::after,
    .ita-cp-clear-img {
        filter: invert(1) grayscale(1);
    }

    .docs-icon-warning-red40-20x20,
    .docs-material .docs-icon-info-blue800,
    .docs-material .docs-icon-add-20 {
        filter: none;
    }

    // #61
    .kix-appview-editor.kix-format-painter-mode,
    .kix-format-painter-mode .kix-page {
        cursor:
            url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAWCAYAAAChWZ5EAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw1AUhU9TpSIVBztIcchQnexSRRxLLRbBQmkrtOpg8tI/aNKQpLg4Cq4FB38Wqw4uzro6uAqC4A+Iu+Ck6CIl3pcUWsR4wyMf591zeO8+QGjXmWoOxAFVs4xsKiEWiqti4BU++gTEEJaYqadzi3l41tc99VLdRXmWd9+fNaKUTAb4ROI40w2LeIN4btPSOe8Th1hVUojPiacNOiDxI9dll984VxwWeGbIyGcXiEPEYqWP5T5mVUMlniWOKKpG+ULBZYXzFme13mTdc/IbBkvaSo7rtCaQwhLSyECEjCZqqMNClP4aKSaytJ/w8Icdf4ZcMrlqYORIogEVkuMHf4PfszXLMzE3KZgABl9s+2MSCOwCnZZtfx/bducE8D8DV1rP32gD85+kt3pa5AgY3QYurnuavAdc7gDjT7pkSI7kpyWUy8D7GT1TERi7BYbX3Ll193H6AORpVss3wMEhMFWh7HWPew/1z+3fnu78fgCHzXKv+PRoGAAAAAlwSFlzAAALEwAACxMBAJqcGAAAAMJJREFUSMftljEOwjAMReuKoWtPwog4QCeuwMpNOAhHYCgH4AjsrF2YunR+LI7UIUqdEiKE8jcn9s+PZcepqoJfBTABD+Co9kHtKZeABtgDT+ACDEAHNB7fnmX0a4XslKAL+JjgixWjCEREQvuxF3N8dc66EsV8LZWAWyKfdCm28m2+1EFmwRJDFipEX4zFv7ZWq/XwWGTtgiJglQD3BLuhlHMatjoBB+AMvIAT0Fq64OO3AxiB+ywDW+AKjOWz8ld4A4hF4WAvNVb5AAAAAElFTkSuQmCC")
                5 10,
            text;
    }
}
