@use "base/root";

@mixin shared-style {
    font-family:
        "Google Sans",
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    font-size: 14px;
}

#DocsAfterDark_button {
    // --DocsAfterDark variables will be available when inserted
    @include shared-style;

    position: fixed;
    left: 2.25rem;
    bottom: var(--DocsAfterDark_buttonPosition);

    height: 2.25rem;
    width: 2.25rem;

    padding: 0.5rem;

    background-color: transparent;
    border: none;

    opacity: 0.75;

    // Z-index must be greater than all other elements
    z-index: 999999999;

    transition: all 1s cubic-bezier(0, 1, 0, 1);

    cursor: pointer;

    .fill {
        height: 100%;
        width: 100%;

        box-sizing: border-box;

        background-color: var(--background-color-3);
        border: 1px solid var(--border-color-0);

        border-radius: 999px;

        transition: all 1s cubic-bezier(0, 1, 0, 1);
    }

    &:hover,
    &.enabled {
        .fill {
            // Colors from official Google Docs light mode
            background-color: #c2e7ff;
            border-color: #c4c7c5;
        }
    }

    &.enabled {
        padding: 0.375rem;
        opacity: 1;

        &:hover {
            .fill {
                background-color: var(--background-color-4);
                border-color: var(--border-color-0);
            }
        }
    }

    &:hover {
        padding: 0.25rem;
        opacity: 1;
    }
}

#DocsAfterDark_updateNotification {
    @include shared-style;

    color: var(--foreground-color-1, #f2f2f2);

    position: fixed;
    top: 1rem;
    left: 0;
    right: 0;

    width: fit-content;
    margin: 0 auto;
    padding: 1rem;

    z-index: 999999999;

    p {
        margin: 0;
        padding: 0;
    }

    .container {
        display: flex;

        border: 1px solid var(--border-color-0, #4d4d4d);
        background-color: var(--background-color-1, #212121);
        border-radius: 0.5rem;
        overflow: hidden;

        box-shadow: 0 14px 28px rgb(0 0 0 / 50%);

        box-sizing: border-box;

        .message {
            flex: 1;
            padding: 0.5rem 0.75rem;
        }

        .close {
            border-left: 1px solid var(--border-color-0);

            button {
                height: 100%;

                display: flex;
                align-items: center;
                justify-content: center;

                color: var(--button-text-color);

                background-color: var(--border-color-0);
                border: none;

                cursor: pointer;

                svg {
                    fill: var(--background-color-1);
                }

                &:hover {
                    background-color: var(--accent-hover-color, #595959);
                }
            }
        }
    }

    a {
        color: var(--border-color-0);
        text-decoration: underline;
    }
}
